 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background-color: #262626;
 }

 #canvas {
     background-color: #262626;
     position: fixed;
 }

 footer {
     position: fixed;
     bottom: 5px;
     left: 5px;
     color: white;
     font-family: monospace;

     a {
         text-decoration: none;
         color: tomato;
     }
 }