/* ============================================================ */
/* VARIABLES                                                    */
/* ============================================================ */
:root {
  --color-light-theme-light: #4a5297;
  --color-light-background: whitesmoke;
  --color-light-foreground: white;
  --color-light-shadow: gray;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/noto-sans/NotoSans-Regular.ttf");
}
