/* ============================================================ */
/* This is the stylehseet of the "licenses" page                */
/* ============================================================ */
* {
	padding: 0;
	margin: 0;
	font-family: 'Noto Sans';
}

body {
	width: 800px;
	margin: auto;
	background-color: var(--color-light-background);
	display: grid;
	grid-template-columns: auto;
	gap: 0.5rem;
	padding-top: 0.5rem;
}
