/* ============================================================ */
/* This is the stylehseet of the "output section"               */
/* The output section contains the output array and the         */
/* box that contains the "Clear output" button                  */
/* ============================================================ */

@media (orientation: landscape) {
	#output_section {
		display: grid;
		grid-template-rows: 1fr auto;
		grid-template-columns: auto;
		gap: 0.5rem;
		height: calc(100vh - 1rem);
	}

	#output_section #output_box {
		overflow-y: scroll;
		padding-right: 0.5rem;
		display: grid;
		grid-auto-rows: max-content;
		grid-template-columns: auto;
		gap: 0.5rem;
	}
}

@media (orientation: portrait) {
	#output_section {
		display: grid;
		grid-template-rows: max-content auto;
		grid-template-columns: auto;
		gap: 0.5rem;
	}

	#output_section #output_box {
		overflow-x: scroll;
		display: flex;
		flex-direction: row;
	}

	#output_section #output_box div {
		margin-right: 0.5rem;
	}
}

#output_box div {
	fill: var(--color-light-foreground);
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: repeat(3, max-content);
	gap: 0.25rem;
	font-size: 12pt;
}

#output_section div #title_box {
	display: grid;
	grid-template-columns: auto;
	grid-template-columns: max-content auto;
	gap: 0.5rem;
}

#output_section div #title_box p,
#output_section div #title_box svg {
	margin-top: auto;
	margin-bottom: auto;
}

#clear_output_button_box {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
}

.fraction {
	display: grid;
	grid-template-columns: max-content;
	grid-template-rows: max-content 1px max-content;
	text-align: center;
	gap: 0.1rem;
}

.fraction span {
	background-color: var(--color-light-foreground);
}
