* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// variables
$text-blue:#025D8C;
$green:#38ef7d;
$shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
0 6px 6px rgba(0, 0, 0, 0.23);
$mobile : 700px;

body {
    background: #0F2027;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

::-webkit-scrollbar {
    width: 2px;
}

header {
    position: fixed;
    top: 0px;
    left: 2px;
    color: #fff;
    opacity: 0.2;
    font-size: large;
    z-index: 100;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    background: #0F2027;
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);

    #canvas {
        background-color: #262626;
        cursor: pointer;
    }

    z-index: 10;
}

.tab {
    position: absolute;
    width: 90%;
    padding: 20px;
    padding-top: 20px;
    max-width: 540px;
    background: #fff;
    border-radius: 10px;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 70%;
    max-height: 500px;
    overflow: hidden;
    overflow-y: scroll;
    font-family: 'Poppins', sans-serif;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    box-shadow: $shadow;

    .title {
        font-style: normal;
        font-weight: normal;
        font-family: 'Raleway', sans-serif;
        margin: auto;

        .name {
            font-size: 14px;
            line-height: 16px;
            color: #000000;
        }

        .game {
            font-size: 44px;
            line-height: 42px;
            color: #000000;
        }
    }

    .para {
        padding: 10px;
        margin: 4px;

        .heading {
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 36px;
            color: $text-blue;
        }

        a {
            text-decoration: none;
            color: $text-blue;
        }

        p {
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            padding-left: 10px;

            color: #000000;
        }
    }

    ul,
    ol {
        padding-left: 30px;
    }
}

.setting-tab {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    z-index: 200;
    padding: 12px 14px;
    right: 22px;
    bottom: 120%;
    box-shadow: $shadow;

    svg {
        margin-right: 8px;
    }

    .sett {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        margin-bottom: 2px;

        .info {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            font-family: 'Poppins', sans-serif;
        }
    }

    .slider {
        outline: none;
        width: 90%;
        margin-left: 10px;
        cursor: pointer;

        &::-moz-range-progress {
            background: $green;
        }

        &::-moz-range-track {
            background: #efefef;
            border-radius: 10px;
        }

        &::-moz-range-thumb {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: $text-blue;
            outline: none;
            border: none;
            cursor: pointer;
        }
    }
}

#game-info {
    display: none;
}

#preloaded-patterns {
    display: none;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;

    .para {
        padding: 10px;
        margin: 4px;
    }

    .heading {
        text-transform: capitalize;
    }

    img {
        padding: 10px;
        height: 130px;
        cursor: pointer;

        @media (max-width: $mobile) {
            padding: 2px;
            height: 70px;
        }
    }
}

.setting-tab {
    display: none;
}

#control-panel {
    position: absolute;
    height: 20%;
    max-height: 60px;
    min-width: 50px;
    width: auto;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    margin: auto;
    bottom: 20px;
    border-radius: 30px;
    box-shadow: $shadow;
    transition: 100ms;

    svg {
        cursor: pointer;
        width: 40px;
        transition: 100ms;
        margin: 18px;

        &:active {
            transform: scale(.9);
        }

        @media (max-width: $mobile) {
            width: 36px;
            margin: 12px;
        }
    }

    #bookmark {
        width: 32px;
    }

    #pause {
        position: absolute;
        display: none;
    }
}