* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(220, 15%, 17%);
}

.container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

#canvas {
    background-color: #262626;
    // border: 1px solid #fff;
}