body {
    margin: 0;
    padding: 5px;
    background-color: black;
    font-family: 'Raleway', sans-serif;
}

h2,
h6 {
    color: white;
    text-indent: 20px;
}

canvas {
    display: block;
    position: relative;
    margin: auto;
    margin-top: 40px;
    background-color: black;
}

hr {
    width: 80%;
    height: 1px;
    background-color: white;
}

footer {
    position: absolute;
    bottom: 6px;
    left: 4px;
    color: #fff;
    margin-left: 5px;
    font-size: small;

    a {
        text-decoration: none;
        color: tomato;
        outline: none;
    }
}