html{
    background-image:url("https://image.freepik.com/free-vector/gradient-geometric-background_23-2148809183.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
}
.heading{
    font-family:'Segoe UI', Tahoma,  Verdana, sans-serif, cursive;
    text-align:center;
    font-size:30px;
}
.heading h2{
    margin-top:5%;
    margin-top:10px;
    text-align: center;
}
.mssg{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
    text-align:center;
    margin-bottom:30px;
    font-size: 20px;    
}
button:hover{
    background-color:pink;
}
button{
    border-radius: 50px;
    padding:8px;
    border:3px solid black;
   

}
.contact{
    font-size: cursive;
}
.btn{
    margin:0;
    position:relative;
    top:100%;
    margin-bottom:20px;
    text-align: center;
}
.whole{
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    background-color: skyblue;
    border-radius: 50px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );   
    position:absolute;
    left:40%;
    padding: 70px 0;
}
body{
    position: absolute;
    padding: 160px 0;
    left:17%;
    width:50%;
}

