*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(315deg, #6617cb 0%, #882463 74%); 
}
h1{
    color: white;
    margin: 15px;
}
input{
    width: 300px;
    height: 40px;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    margin: 15px;
    outline: none;
    font-size: 1.2rem;
    color: white;
    padding: 0 10px;
}
button{
    width: 150px;
    height: 40px;
    font-size: 1.1rem;
    margin: 15px;
    cursor: pointer;
    outline: none;
    background: #b721ff;
    color: white;
    border: none;
}
