html{
    height: 100%;
}

body{
    height: 100%;
    background-image: linear-gradient(#7B9F35,#226666);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    background-color: tomato;
    padding:  15px;
    border-radius: 5px;
}

.grid{
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px;
    border: 1px solid #550000;
}

.grid button{
    background-color: #cfcfcf;
    color: #56A7E8;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #354F00;
    outline: none;
    cursor: pointer;
}

.footer{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.footer button{
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    padding: 5px;
    width: 80px;
    background-color: #7B9F35;
    color: #354F00;
    outline: none;
    cursor: pointer;
}

.footer button:hover{
    color: #D4EE9F;
    background-color: #354F00;
}

.footer span{
    flex: 1;
    text-align: center;
    font-size: 20px;
    color: yellow;
    font-weight: bold;
    margin: auto;
}

.message{
    color:  tomato;
    height: 80px;
}