body {
  font-family: arial;
  box-sizing: border-box;
  background: linear-gradient(120deg, #325288 50%, #f4eee8 50%);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

h1 {
  color: white;
  font-family: sofia;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.9);
}

input {
  font-size: 20px;
  width: 50%;
}

#input {
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  background-color: #f6f6f6;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  width: 30vw;
  margin-left: 33%;
  text-align: center;
  box-shadow: 0px 10px 20px -6px #000;
}

button {
  color: white;
  text-align: center;
  background-color: #428bca;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 0px;
}

button:hover {
  background-color: #4382b7;
  cursor: pointer;
}

#bottom {
  display: none;
  border: 1px solid #cdcdcd;
  margin-left: 33%;
  border-radius: 5px;
  background-color: #f6f6f6;
  padding: 20px;
  width: 30vw;
  box-shadow: 0px 10px 20px -6px #000;
}

span {
  font-weight: bold;
}
@media only screen and (max-width: 1200px) {
  #input {
    width: 70vw;
    margin-left: 10%;
  }
  #bottom {
    width: 70vw;
    margin-left: 10%;
  }
}
