*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(2, 45, 88);
}
footer{
    position: fixed;
    bottom: 20px;
    opacity: .3;
    transition: opacity .2s ease-in-out;
    padding: 5px 10px;
    border: 2px solid #f9b52e;
}
footer:hover{
    opacity: 1;
}
h3{
    color: #fff;
    font-family: sans-serif;
}
h3 a{
    color: #f9b52e;
    text-decoration: none;
}
.clock{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../Images/clock.png);
    background-size: cover;
    border: 4px solid rgb(2, 45, 88);
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255,255,255,0.05),
                inset 0 -15px 15px rgba(255,255,255,0.05),
                0 15px 15px rgba(0,0,0,0.3),
                inset 0 15px 15px rgba(0,0,0,0.3);
}
.clock:before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    z-index: 10000;
}
.clock .hour,
.clock .min,
.clock .sec{
    position: absolute;
}
.clock .hour, .hr{
    width: 160px;
    height: 160px;
}
.clock .min, .mn{
    width: 190px;
    height: 190px;
}
.clock .sec, .sc{
    width: 230px;
    height: 230px;
}
.hr, .mn, .sc{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}
.hr:before{
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: #ff105e;
    z-index: 10;
    border-radius: 6px  6px 0 0;
}
.mn:before{
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background: #fff;
    z-index: 11;
    border-radius: 6px  6px 0 0;
}

.sc:before{
    content: '';
    position: absolute;
    width: 2px;
    height: 130px;
    background: #fff;
    z-index: 12;
    border-radius: 6px  6px 0 0;
}
 @media only screen and (max-width :385px){
     .clock{
        width: 270px;
        height: 270px;
     }
     footer{
         font-size: 0.9rem;
     }
 }
 @media only screen and (max-width :300px){
     footer{
         font-size: 0.7rem;
     }
 }