.b1{
    border-radius: 50%;
    color: white;
    border: 1px black;
    background-color: blue;
    height: 50px;
    margin-left: 10%;
}

.b2{
    border-radius: 50%;
    color: white;
    border: 1px black;
    background-color: red;
    height: 50px;
    margin-left: 50%;
}