@import url('https://fonts.googleapis.com/css?family=Barriecito|Lora&display=swap');

* {
  margin: 0;
  padding: 0;
}
html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
    width: 50%;
  }
  
  h1 {
    font-family:monospace;
    margin-bottom: 2%;
    font-size: xxx-large;
  
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
.wrapper {
  width: 100%;
}

select {
    margin: 2%;
}

form {
    padding-left: 10px;
    font-size: 1.2em;
  }
  
  .fillBox {
    width: 45%;
    margin: 2%;
    font-size: 1rem;
  }
  
  .totalArea {
    height: 20px;
    font-size: 1.2em;
  }
  
  #servicelevel {
      width: 98%;
      height: 40px;
      padding-left: 6px;
      padding-bottom: 4px;
      font-size: 1.1em;
  }
  
  button {
    font-size: 25px;
    display: block;
    margin: 30px auto;
    border-radius: 25px;
    color: white;
    background-color: #7299cc;
  }
  
  #totalArea {
    margin-left: 7%;
  align-items: stretch;
  }
  sup {
    font-size: 1.5em;
    top: -13px;
  }
  
  small {
    font-size: 1.2em;
    font-weight: bold;
    display: block;
  }
  
  #tip {
    font-size: 2.5em;
  }
  
  #totalTip {
    font-size: 1.2em;
    margin-top: 5px;
    text-align: center;
    float: left;
    width: 190px;
    padding-left:2%;
  }
  
  #totalTip:before {
    content: "Tip Amount:";
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
  }
  
  #split {
    font-size: 2.5em;
  }
  
  
  #billSplit {
    font-size: 1.2em;
    margin-top: 5px;
    text-align: center;
    float: left;
    width: 190px;
    border-right: 2px solid #555;
    padding-left:2%;
  }
  
  #billSplit:before {
    content: "Bill:";
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
  }
  
  #grand {
    font-size: 2.5em;
  }
  
  #grandTotal {
    font-size: 1.2em;
    margin-top: 5px;
    text-align: center;
    margin-left: 0px;
    float: left;
    width: 190px;
      border-left: 2px solid #555;
    padding-left:2%;
  }
  
  #grandTotal:before {
    content: "Grand Total:";
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
  }
  