body{
    background-image: url("../Images/bmi1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
}

/* CALCULATE BUTTON */
button{
    background-color: #000000ee;
    border: 1px solid #1a78c0e7;
    box-shadow: 0 4px 8px 0 rgba(24, 24, 24, 0.3), 0 6px 20px 0 rgba(22, 22, 22, 0.3);
    color: #1a78c0e7;
    font-size: 1.2rem;
    height: 55px;
    left: 15%;
    outline: transparent;
    position: relative;
    text-align: center;
    transition:all 0.2s ease-in;
    width:70%;

}
button:hover{
    background-color: #1a78c0e7;
    border: 1px solid #1a78c0e7;
    box-shadow: 0 4px 8px 0 rgba(24, 24, 24, 0.3), 0 6px 20px 0 rgba(22, 22, 22, 0.3);
    color: #ffffffee;
}

/* HEADINGS */
h1{
    font-size: 3rem;
    margin: 0 auto;
    text-align: center;
}

h2 {
    color: #ffffff;
    font-size: 2.8rem;
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    color: #ffffff;
    font-size: 1.5rem;
    margin: 1rem 4rem;
}

/* BMI-IMAGE */
.bmi-img {
    display: block;
    height: auto;
    margin: 0 auto;
    padding: 3%;
    width: 40%;
}

/* CONTAINER-DIV */
.container {
    align-items: center;
    background-color: #000000;
    box-shadow:  2px 4px 8px 4px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    border-radius: 18px;
    color: #ffffff;
    height:500px;
    padding: 3%;
    position: relative;
    top: -45px;
    width: 400px;
}

.details {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    line-height: 0.7;
}

/* ERROR MESSAGE */
.error {
    color:#299bf2;
    font-size: 1.75rem;
    padding-top: 10px;
    text-align:center;
}

.guide {
    height:525px;
    margin: auto;
    width: 400px;
}

/* MAIN-DIV */
.main {
    background-color: rgb(9, 9, 9);
    opacity: 0.95;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    box-shadow:  2px 4px 8px 4px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    border: none;
    height:490px;
    position: relative;
    top: 75px;
    width: 850px;
}

/* RESULTS-DIV */
.results{
    color: #1a78c0;
    font-size: 4rem;
    margin: auto;
    padding-top: 10px;
}

/* RESULTS BOX */
.results-box {
    align-items: center;
    background-color: #181818;
    border-radius: 12px;
    
    box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    display: flex;
    height: 100px;
    margin: auto;
    width: 362px;
}

/* FORM-INPUTS */
#height, #weight {
    border: 1px solid gray;
    display: block;
    font-size: 1.2em;
    height: 50px;
    margin: auto;
    outline: transparent;
    text-align: center;
    width:70%;
}
#height:focus, #weight:focus{
    border:none;
}

/* WEIGHT GUIDE DIV */
#weight-guide{
    bottom:45px;
    left: 468px;
    color: #299bf2;
    margin: auto;
    padding:10px;
    position: absolute;
    width:345px;
    align-items: center;
    background-color: #181818;
    border-radius: 12px;
    box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

/* Code for responsive design */
@media screen and (min-width: 374px) and (max-width: 921px) {
    body {
        background-image: none;
        background-color: #1a78c0e7;
    }

    h1 {
        font-size: 2.5rem;
        font-family:'Times New Roman', Times, serif;
        /* margin: 10px auto; */
    }

    h3 {
        margin: 10px auto;
    }

    .container {
        border-radius: 25px 25px 0 0;
        height: auto;
        width: fit-content;
    }

    .details {
        display: inline-block;
        line-height: 1.2;
        margin: 10px auto;
    }

    .guide {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin: 0 auto;
        text-align: center;
        width: 80%;
    }

    .main {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 1025px;
        margin: 0 auto;
        width: 75%;
    }

    .results {
        display: flex;
        flex-direction: row;
    }

    .results-box {
        display: flex;
        width: fit-content;
    }

    #weight-guide {
        bottom: 0;
        height: fit-content;
        position: relative;
        width: auto;
    }
}
