.container {
    width: 375px;
    height:610px;
   margin:auto;
    background-color:rgb(16, 101, 104);
    color:white;
    padding-left: 30px;
    padding-bottom: 3px;;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 25px 3px rgba(0, 0, 0, 0.774);
   margin-top: 50px;
}
#height, #weight {
   
    width:200px;
    height: 25px;
    margin-top: 30px;
    font-size: 1em;
    box-sizing: border-box;
     border: none;
    border-bottom:grey solid;
    display:inline-block;
    
}
#height:focus, #weight:focus{
    border:none;
}



#weight-guide{
    margin-left:auto;
    margin-right:auto;
    margin-top: 25px;
    width:max-content;
    padding:10px;
    background-color: black;
    box-shadow: 2px 2px 10px 1px black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

#results{
    font-size: 35px;
    margin-top: 20px;
    color:black;
    height: fit-content;
    margin-left:auto;
    margin-right:10%;
    text-align:center;
    
}

button{
    width: 150px;
    height: 35px;
    margin-left: 90px;
    margin-top: 25px;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(39, 46, 46);
    color: #fff;
    font-size: 25px;
    
}
button:hover{
    color: #ccc;
    box-shadow: 0 12px 20px 0 rgb(44, 46, 46), 0 17px 50px 0 rgba(0,0,0,0.19);
}


h1{
    padding-top: 25px;
    text-align: center;
    font-family: 'Noto Serif', serif;
}
body{
background-color:rgb(52, 64, 70);
}
label{
    font-family:'Noto Serif', serif;
    padding-right:5px;
}
@media only screen and (max-width:415px) {
    .container{
        margin-top:25%;
    }
    #weight-guide{
        margin-left: 51px;
        font-size: 1rem;
    }
    body{
        justify-content: center;
        margin: auto;
    }
}
