* {
	padding: 0;
	margin: 0;
}
body {
	background-color: rgb(49, 6, 27);
}
div {
	text-align: center;
}
canvas {
	background: #000;
	display: block;
	margin: 0 auto;
}
#startButtonClassic {
	padding: 10px 30px;
	border: 0px;
	margin: 4px;
	background-color: rgb(255, 255, 255);
	font-family: Roboto;
	border-radius: 20px;
	font-size: 18px;
	color: rgb(49, 6, 27);
}
#startButtonClassic:active {
	background-color: #959595;
}
