.container {
    height: 400px;
    width: 80%;
    margin-left: 5%;
    overflow: hidden;
    border: 1px solid black;
    margin-top: 20px;
    position: relative;
    background-color: darkgrey;
}

.score,
.lives {
    font-size: 3em;
}

.brick {
    position: absolute;
    top: 0;
    left: 0;
    width: 91px;
    height: 40px;
    padding: 1px;
    color: white;
    border: 1px solid white;
    font-size: 1.8em;
    text-align: center;
    line-height: 40px;
}