body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  div.container {
    font-family: Raleway;
    margin: 0 auto;
    padding: 2em 2em;
    text-align: center;
  }
  
  div.container a {
    color: #fff;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
  }
  
  .blue {
    background: #2196f3;
  }
  
  #array_container {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 5% auto;
    border: 2px solid black;
    padding: 5%;
    height: 100px;
  }
  
  #array_container2 {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: left;
    margin: 1% auto;
    padding: 1%;
  }
  
  #array_container3 {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: left;
    margin: 1% auto;
    padding: 1%;
  }
  
  button {
    text-align: center;
    margin: 20px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1),
      4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
  }
  
  .custom-btn {
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1), 
      4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
  }
  
  .b1 {
    background: rgb(64, 185, 175);
    background: linear-gradient(
      0deg,
      rgb(20, 230, 230) 0%,
      rgb(23, 206, 238) 100%
    );
    border: none;
  }
  .b1:hover {
    background: rgb(39, 226, 179);
    background: linear-gradient(
      0deg,
      rgb(49, 24, 213) 0%,
      rgb(251, 2, 14) 100%
    );
  }
  
  label {
    margin: 10px;
  }
  
  select {
    margin: 10px;
    border-radius: 5px;
    border: 1px solid;
    background-color: #f2f2f2;
  }