body{
    height: 100%;
    background-color: orange;
}
h1{
    
    font-family: 'Stick', sans-serif;
    color: aliceblue;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 9px;
    margin-bottom: auto;
    border-collapse: collapse;
    font-weight: 60;
    border-radius: 3px;
    
}

th {
    font-family: 'Balsamiq Sans', cursive;
    border: 5px solid black;
    width: 90px;
    text-align: center;
    height: 50px;
    color: wheat;
    background-color: rgb(34, 34, 34);
    border-radius: 3px;
}

td {
    font-family: 'Flavors', cursive;
    border: 5px solid black;
    width: 80px;
    text-align: center;
    height: 79px;
    font-size: 26px;
    background-color: #fbdafb;
    border-radius: 3px;
}

#today {
    background-color: aqua;
}

#goto {
    
    background-color: yellow;
    
}

.go_to {
    font-family: 'Balsamiq Sans', cursive;
    text-align: center;
    margin-top: 12px;
    /* margin-left: 370px; */
}

#cala {
    align-items: center;
    text-align: center;
    margin-top: 8px;
    height: 89vh;
}

button{
    font-family: 'Balsamiq Sans', cursive;
    width: 150px;
    height: 40px;
    padding: 7px;
    border: 2px rgb(141, 94, 6);
    background-color: purple;
    color: white;
    font-size: 18px;
    margin-top: 8px;

}
select{
    width: 100px;
    height: 40px;
}
input{
    width: 100px;
    height: 40px;
}

#prev,
#next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


#next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


#prev:hover,
#next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
label{
    color: aliceblue;
    margin-top: 8px;
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;

}
select,input{
    margin-top: 8px;
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
}
@media only screen and (max-width: 850px) {
    #prev,
    #next {
    top: 50%;
    width: auto;
    margin-top: 50vh;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
#next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
}