*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



body{
    font-family: sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgba(116, 53, 53, 0.61);

}

.for{
    box-shadow: 
    0em 1.2em 1.2em rgba(0, 0, 0, 0.3),
    inset 0em 1.2em 1.2em rgba(0, 0, 0, 0.3);
}


.center{
    background: black;
    border-radius: 25px; 
    width: 350px;
}


input[type="text"]{
    height:60px ;
    width: 240px; ;
    margin-top: 40px ;
    border-radius: 3px ;
    border: 1px solid #e1e7ea ;
    color: black ;
    font-size: 22px;
    font-weight: bold ;
    text-align: right;
    padding-right: 20px;

}


form .buttons{
    width:300px ;
    margin:10px 25px 0px 25px ;
    padding:10px 0px ;
}


input[type="button"]{
    width:45px ;
    height: 50px;
    margin:5px ;
    font-size: 22px;
    line-height: 55px;
    border-radius: 3px;
    border: 1px solid #d9d9d9;



}

input#clear{
    background: aqua;
    color: black;

}

input#equal{
    width:230px ;
    margin:10px 0px 10px 0px ;
    font-size:30px ;
    color: black ;
    background: royalblue ;
    border: 1px solid ;


}