@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
:root{
    --font1: 'Noto Sans', sans-serif; 
}

*{
	padding:0;
	margin:0;
}
.Calculator{
	width: 400px;
	background-color: black;
	color: white;
	justify-content: center;
}
.Calculator{
	
    margin-left: 600px;
    margin-top: 200px;
}
.screen{
	color: white;
	font-size: 40px;
	font-family: var(--font1);
	text-align: right;
	padding: 20px 5px;
}
.Calculator-button{
	background-color: maroon;
	color:black;
	font-family: var(--font1);
	height: 200px;
	width: 400px;
	font-size: 40px;
	cursor: pointer;
}
.Calculator-button:hover{
	background-color: white;
}
.Calculator-button:active {
  background-color: #bbbcbe;
}
.double{
	width: 50%;
}
.triple{
	width: 75%;
}
.Calculator-button:last-child {
  background-color:rgb(245, 66, 66);
  color: white;
}

.Calculator-button:last-child:hover {
  background-color: black;
}

.Calculator-button:last-child:active {
  background-color: red;
}

.Calculator-button-row {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  margin-bottom: 0.5%;
}

.Calculator-button-row:last-child {
  padding-bottom: 0;
}

