body {
    background-image: url("../Images/Calendar_background.png");
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}
* {
    box-sizing: content-box;
}
.block {
    height: 100vh;
    width: 100vw;
}

/* input field */
.data {
    margin-top: 50px;
    width: 50%;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.5);
    border: 10px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form-row {
    width: 100%;
    
}
.buttons {
    width: 70%;
}
.btn {
    width: 100%;
}

/* calendar display box */
.box {
    margin-top: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    position: relative;
}

/* arrow icons */
i {
    position: absolute;
    cursor: pointer;
}
#prev {
    top: 50px;
    left: 10%;
}
#next {
    top: 50px;
    right: 10%;
}
i:hover {
    transform: scale(2);
}

/* calendar */
#cala {
    border: 1px solid grey;
}
h1{
    font-family: 'Dela Gothic One', cursive;
    color: rgb(0, 0, 0);
}
hr {
    border-top: 2px solid grey;
    margin-bottom: 20px;
    width: 60%;
}
table {
    border-collapse: unset;
}
th, td {
    border: 5px solid white;
    border-radius: 50%;
    padding: 10px 15px;
    width: 100px;
    margin: 5px;
}
th {
    color: white;
    background-color: black;
    font-size: 25px;
    font-weight: lighter;
}
td {
    color: black;
    background-color: rgba(199, 181, 181, 0.5);
}

/* highlights */
#today {
    background-color: rgba(96, 226, 96, 0.5);
    color: green;
    font-weight: bolder;
}
#goto {
    background-color: rgba(245, 245, 51, 0.6);
    color: brown;
    font-weight: bolder;   
}

