@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.hide{
  display: none;
}
*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.lines{
  width: 10px;
  height: 100px;
  background-color: white;
  position: absolute;
  margin-left: 195px;
}
body{
  background-image: url('../Images/carAvoidanceGame.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.carGame{
  width: 100%;
  height: 100vh;
}
.car, .enemy{
  width: 50px;
  height: 100px;
  position: absolute;
  bottom: 120px;
  background-image: url('https://i.ibb.co/TTnfQdQ/car.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: red;
  border-radius: 5px;
}
.gameArea{
  width: 400px;
  height: 100vh;
  background-color:#222831;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-right:  7px dashed #c8d6e5;
  border-left:  7px dashed #c8d6e5;
}
.score{
  position: absolute;
  top: 15px;
  left: 40px;
  width: 300px;
  line-height: 70px;
  text-align: center;
  background-color: #00917c;
  color: white;
  font-size: 2rem;
  box-shadow: 0 5px 5px #777;
}
.startScreen{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: white;
  z-index: 1;
  text-align: center;
  border: 1px solid #d63447;
  padding: 15px;
  background-color: #ef4f4f;
  margin: auto;
  width: 50%;
  cursor: pointer;
  letter-spacing: 5;
  font-size: 2rem;
  word-spacing: 3;
  text-transform: capitalize;
  box-shadow: 0 5px 5px #777;
  font-weight: 600;
  border-radius: 10px;
}
