
body {
    width: 100%;
    height: 100%;
    padding: 1px;
    margin: 0;
    font-family: sans-serif;
    background-image: url(https://wallup.net/wp-content/uploads/2016/03/09/336862-abstract-cube.jpg);
}
html
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    }

div * {
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
    }

h1 {
    justify-content: center;
    text-align: center;
    padding: 0;
    font-size: 100px;
    color: whitesmoke;
    margin-bottom: 10PX;
}

#turn {
    max-height: 30px;
    width: 100%;
    height: 100%;
    position: relative;
    float: right;
    border-radius: 100px;
    border: 5px solid rgb(101, 71, 236);
    border-style:double;
    text-align: center;
    padding: 5px 1 0 0;
    background: rgb(68, 245, 236);
   margin-top: 10PX;
    transition: .85s linear;
}

.turnhighlight {
    background: #92ee92 !important;
    color: rgb(247, 247, 247);
}

#game {
    max-width: 504px;
    max-height: 504px;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 20px auto;
    background:linear-gradient(to left , #d373c3 , #efefef);
}

.cellprefix {
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
    float: left;
    margin: 3px;
    padding: 16px 0 0 20px;
    background-color: rgb(19, 15, 19);
    border-radius: 100px;
    text-shadow:pink ;
    color: white;
}

.gamecell {
    border: 1px solid #000;
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
    float: left;
    margin: 3px;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
    font-size: 30pt;
    padding: 0 0 0 6px;
    cursor: pointer;
    z-index: 1;
}

.gamecell:hover {
    color: rgb(7, 6, 6);
    background: rgba(132, 152, 230, 0.712);
    z-index: 2;
    transform: translate(10px, -10px);
    animation: neonBlueText 1.5s ease-in-out infinite alternate;
}

.black {
    background-color: #000;
    color: white;
}


.green {
    /*background: green !important;*/
    background: rgb(65, 221, 112) !important;
}

.neonblue_txt {
    animation: neonBlueText 1.5s ease-in-out infinite alternate;
}

.neonorange_txt {
    animation: neonOrangeText 1.5s ease-in-out infinite alternate;
}

.neongreen_txt {
    animation: neonGreenText 1.5s ease-in-out infinite alternate;
}

/* --- N E O N    T E X T --- */
@keyframes neonBlueText {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
            0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
    }

    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
            0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
    }
}

@keyframes neonOrangeText {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff9900,
            0 0 70px #ff9900, 0 0 80px #ff9900, 0 0 100px #ff9900, 0 0 150px #ff9900;
    }

    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff9900,
            0 0 35px #ff9900, 0 0 40px #ff9900, 0 0 50px #ff9900, 0 0 75px #ff9900;
    }
}

@keyframes neonGreenText {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #b6ff00,
            0 0 70px #b6ff00, 0 0 80px #b6ff00, 0 0 100px #b6ff00, 0 0 150px #b6ff00;
    }

    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #b6ff00,
            0 0 35px #b6ff00, 0 0 40px #b6ff00, 0 0 50px #b6ff00, 0 0 75px #b6ff00;
    }
}

/* --- N E O N --- */

/* animation: neon 1.5s ease-in-out infinite alternate; */

@keyframes neonBlue {
    from {
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
            0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
    }

    to {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
            0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
    }
}

/*! * * * * * * * * * * * * * * * * * * * *\  
  CSShake :: shake-little
  v1.5.0
  CSS classes to move your DOM
  (c) 2015 @elrumordelaluz
  http://elrumordelaluz.github.io/csshake/
  Licensed under MIT
\* * * * * * * * * * * * * * * * * * * * */
.shake-little {
    display: inline-block;
    transform-origin: center center;
}

.shake-freeze,
.shake-constant.shake-constant--hover:hover,
.shake-trigger:hover .shake-constant.shake-constant--hover {
    animation-play-state: paused;
}

.shake-freeze:hover,
.shake-trigger:hover .shake-freeze,
.shake-little:hover,
.shake-trigger:hover .shake-little {
    animation-play-state: running;
}

@keyframes shake-little {
    2% {
        transform: translate(1px, 0px) rotate(0.5deg);
    }

    4% {
        transform: translate(1px, 0px) rotate(0.5deg);
    }

    6% {
        transform: translate(1px, 1px) rotate(0.5deg);
    }

    8% {
        transform: translate(0px, 0px) rotate(0.5deg);
    }

    10% {
        transform: translate(1px, 0px) rotate(0.5deg);
    }

    12% {
        transform: translate(0px, 0px) rotate(0.5deg);
    }

    14% {
        transform: translate(1px, 1px) rotate(0.5deg);
    }

    16% {
        transform: translate(0px, 1px) rotate(0.5deg);
    }

    18% {
        transform: translate(1px, 0px) rotate(0.5deg);
    }

    20% {
        transform: translate(0px, 1px) rotate(0.5deg);
    }

    22% {
        transform: translate(0px, 0px) rotate(0.5deg);
    }

    24% {
        transform: translate(0px, 0px) rotate(0.5deg);
    }

    26% {
        transform: translate(1px, 1px) rotate(0.5deg);
    }

    28% {
        transform: translate(0px, 1px) rotate(0.5deg);
    }

    30% {
        transform: translate(0px, 0px) rotate(0.5deg);
    }

    32% {
        transform: translate(1px, 1px) rotate(0.5deg);
    }

    34% {
        transform: translate(0px, 1px) rotate(0.5deg);
    }

    36% {
        transform: translate(0px, 1px) rotate(0.5deg);
    }

    38% {
        transform: translate(0px, 0px) rotate(0.5deg);
    }

    40% {
        transform: translate(1px, 0px) rotate(0.5deg);
    }

    42% {
        transform: translate(0px, 1px) rotate(0.5deg);
    }

    44% {
        transform: translate(0px, 1px) rotate(0.5deg);
    }

    46% {
        transform: translate(0px, 0px) rotate(0.5deg);
    }

    48% {
        transform: translate(1px, 0px) rotate(0.5deg);
    }

    50% {
        transform: translate(1px, 1px) rotate(0.5deg);
    }

    52% {
        transform: translate(0px, 0px) rotate(0.5deg);
    }

    54% {
        transform: translate(1px, 1px) rotate(0.5deg);
    }

    56% {
        transform: translate(0px, 1px) rotate(0.5deg);
    }

    58% {
        transform: translate(1px, 0px) rotate(0.5deg);
    }

    60% {
        transform: translate(1px, 1px) rotate(0.5deg);
    }

    62% {
        transform: translate(0px, 1px) rotate(0.5deg);
    }

    64% {
        transform: translate(0px, 0px) rotate(0.5deg);
    }

    66% {
        transform: translate(1px, 0px) rotate(0.5deg);
    }

    68% {
        transform: translate(0px, 0px) rotate(0.5deg);
    }

    70% {
        transform: translate(1px, 0px) rotate(0.5deg);
    }

    72% {
        transform: translate(1px, 1px) rotate(0.5deg);
    }

    74% {
        transform: translate(1px, 1px) rotate(0.5deg);
    }

    76% {
        transform: translate(0px, 0px) rotate(0.5deg);
    }

    78% {
        transform: translate(0px, 0px) rotate(0.5deg);
    }

    80% {
        transform: translate(1px, 0px) rotate(0.5deg);
    }

    82% {
        transform: translate(1px, 1px) rotate(0.5deg);
    }

    84% {
        transform: translate(0px, 1px) rotate(0.5deg);
    }

    86% {
        transform: translate(1px, 1px) rotate(0.5deg);
    }

    88% {
        transform: translate(1px, 1px) rotate(0.5deg);
    }

    90% {
        transform: translate(0px, 1px) rotate(0.5deg);
    }

    92% {
        transform: translate(1px, 0px) rotate(0.5deg);
    }

    94% {
        transform: translate(1px, 0px) rotate(0.5deg);
    }

    96% {
        transform: translate(1px, 0px) rotate(0.5deg);
    }

    98% {
        transform: translate(1px, 1px) rotate(0.5deg);
    }

    0%,
    100% {
        transform: translate(0, 0) rotate(0);
    }
}

.shake-little:hover,
.shake-trigger:hover .shake-little,
.shake-little.shake-freeze,
.shake-little.shake-constant {
    animation-name: shake-little;
    animation-duration: 100ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}