body {
  text-align: center;
  margin-top: 80px;
}

h1 {
  font-size: 28px;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 1%;
  color: white;
}

div {
  margin-bottom: 1%;
}

span {
  font-size: 5rem;
}

button {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 4%;
}
.decrease {
  color: #fca3cc;
}
.one {
  background-color: #bce6eb;
  border-color: #bce6eb;
}
.one:hover {
  color: blueviolet;
}
.Three:hover {
  color: blueviolet;
}
.Two {
  background-color: #fdcfdf;
  border-color: #fdcfdf;
}
.Three {
  background-color: #bce6eb;
  border-color: #bce6eb;
}
.container {
  border: 4px solid rgb(10 19 61);
  background-image: linear-gradient(to right, rgb(10 19 61), rgb(255 0 151));
  padding: 23px;
  border-radius: 53px;
  display: inline-block;
  box-shadow: 8px 8px 8px #150aaf57;
}
