body {
    background-image: url("../Images/Currency_Converter_Background.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.heading {
    font-family: 'Pacifico', cursive;
    margin: 35px auto 20px;
    color: white;
}
hr {
    border-top: 2px solid white;
    width: 40%;
    margin-bottom: 55px;
}
.main {
    width: 50vw;
    margin: auto;
    padding: 30px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
label {
    font-size: 20px;
}
.btn {
    width: 200px;
}
#finalAmount {
    color: White;
    font-family: 'Lobster', cursive;
    display: none;
    margin: 50px auto;
}
#finalAmount h2 {
    font-size: 50px;
}
.finalValue {
    font-family: 'Amiri', serif;
}

/* Media Queries */

@media (max-width: 768px) {
    hr {
        width: 60%;
    }
    .main {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .heading {
        font-size: 60px;
    }
    hr {
        width: 75%;
    }
    #finalAmount h2, .finalValue {
        font-size: 40px;
    }
}
