:root {
 
  --background: #cc0066;
  --text:#ffcce6;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}
html{
  overflow-x: hidden;
}

body {
  font-family: "montserrat", sans-serif;
  height: 100%;
  text-align: center;
  background: var(--background);
  width: 100%;
  overflow-x: hidden;
  margin: auto;
  justify-content: center;
}

header {
  margin: 1em;
}

header img {
  height: 10em;
}

header h1 {
  color: #25CCF7;
  font-family : monospace ;
  font-size: xx-large;
}
.container{
    overflow: hidden;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
}
main {
  margin: 0 auto;
}

.drum span {
  font-weight: 500;
  font-size: 0.50em;
  color: #25CCF7;
}

footer {
  position: fixed;
  bottom: 0;
  margin-top: 2rem;
  padding: 2em 0;
  background: linear-gradient(to right,#25CCF7, #192A56);
  width: 100%;
  justify-content: center;
}

footer p {
  margin: 1em 0;
  font-weight: 500;
  color: #ffffff;
  font-family: monospace;
  font-size: 1.3rem;
}


.drum {
  outline: none;
  border: 0.25em solid #000000;
  font-size: 2rem;
  font-family: var(--drum-font);
  line-height: 1;
  font-weight: 900;
  color: #25CCF7;
  text-shadow: 3px 0 white;
  border-radius: 0.25em;
  display: inline-block;
  width: 110px;
  height: 130px;
  text-align: center;
  margin: 10px;
  background-color: black;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;

}

/* for smaller devices*/

@media (max-width: 766px) {
  header {
    margin: 2em;
  }

.drum span {
    font-size: 0.7em;
  }

  footer {
    padding: 1em 0;
  }
}