:root {
 
  --background:lightcoral;
  --text:#ffcce6;
  --imageoverlay:100%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}
html{
  overflow-x: hidden;
}

body {
  font-family: "montserrat", sans-serif;
  height: 100%;
  text-align: center;
  background: url('../Images/drumkit_bg.jpg') bottom center;
  background-position: center;
  background-size: cover;
  width: 100%;
  overflow-x: hidden;
  margin: auto;
  justify-content: center;
}

body:after{
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--imageoverlay);
    background-color: var(--background);
    opacity: 0.4;
}


.heading{
font-size: 2.5rem;
}

header {
  margin-top: 2rem;
  font-size: 2rem;
}

header img {
  height: 10em;
}

header h1 {
  color: #25CCF7;
  font-family : monospace ;
  font-size: xx-large;
}
.container{
    overflow: hidden;
    margin-bottom: 120px;
    width: 100%;
    height: auto;
}
main {
  margin: 0 auto;
}

.drum span {
  font-weight: 500;
  font-size: 0.50em;
  color: #25CCF7;
}

footer {
  position: fixed;
  bottom: 0;
  margin-top: 1.5rem;
  padding: 0.5em 0;
  background: linear-gradient(to right,#25CCF7, #192A56);
  width: 100%;
  justify-content: center;
}

footer p {
  margin: 1em 0;
  font-weight: 500;
  color: #ffffff;
  font-family: monospace;
  font-size: 1.3rem;
}


.drum {
  outline: none;
  border: 0.25em solid #000000;
  font-size: 2rem;
  font-family: var(--drum-font);
  line-height: 1;
  font-weight: 900;
  color: #25CCF7;
  text-shadow: 3px 0 white;
  border-radius: 0.25em;
  display: inline-block;
  width: 90px;
  height: 100px;
  text-align: center;
  margin: 12px;
  background-color: black;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;

}

.theme-btn{
  padding: 10px;
  font-size: 1rem;
  border-radius: 2rem;
  transition:0.5s ease;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}



/* for smaller devices*/

@media (max-width: 766px) {
 

.drum span {
    font-size: 0.7em;
  }

  footer {
    padding: 0.5em 0;
  }
}

@media (max-width: 400x) {
header img {
  width: 300px !important;
}

}
/* theme styling  */

.dark-theme:after {
  background-color: #222;
  color: #fff;
}

.dark-theme #change-theme-btn {
  color: #222;
  background-color: #25CCF7;
}

