@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e0e0e0;
  height: 100vh;
  font-family: "Dosis";
}

.container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.35rem;
  width: 100%;
  letter-spacing: 3px;

  color: #000;
  text-shadow: 0px 0px 0 rgb(217, 217, 217), 1px 1px 0 rgb(189, 189, 189),
    2px 2px 0 rgb(161, 161, 161), 3px 3px 2px rgba(0, 0, 0, 0.6),
    3px 3px 1px rgba(0, 0, 0, 0.5), 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.neumorphic {
  box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
}

.neumorphic--pressed {
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}

.box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.number {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.number i {
  font-size: 1.3rem;
  color: dodgerblue;
  padding: 0.7rem 0.7rem 0.5rem;
  clip-path: circle(71% at 60% 40%);
  background-color: rgb(0, 0, 0);
  transition: 1s ease-in;
  cursor: pointer;
}

.text {
  padding: 1.5rem 2rem;
}

.text i {
  font-size: 3rem;
}

.quotes {
  margin-top: 2rem;
  font-size: 1.7rem;
}

.author {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 0.7rem;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.button {
  font-family: "Dosis";
  font-weight: bold;
  font-size: 1.2rem;
  word-spacing: 0.15rem;

  outline: none;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;

  border-radius: 29px;
  border: none;
  background: transparent;
  box-shadow: 1px 2px 6px #02dc89, -1px -2px 6px #02ffab;
}

.button:hover {
  transform: scale(0.95);
}

.Color-stripe {
  background: #fff;
  width: 300px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 1rem;
  border-radius: 10px;
}

.pink,
.grey,
.blue,
.peach,
.yellow,
.green,
.lightblue,
.purple,
.orange{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #000;

  transition: 0.5s ease-in-out;
}
.orange{
  background: #fc9162;
}
.purple{
  background: #c968f2;
  margin-right: 10px;
}
.lightblue{
  background: #a2eafa;
  margin-right: 10px;
}
.green{
  background: #b6fc90;
  margin-right: 10px;
}
.peach
{
  background: #fa7a7a;
  margin-left: 10px;
  margin-right: 10px;
}
.yellow{
  background: #fafa8c;
  margin-right: 10px;
}

.pink {
  background: #ffc8dd;
}

.grey {
  margin-left: 10px;
  margin-right: 10px;
  background: #e0e0e0;
}

.blue {
  background: #a2d2ff;
}

.pink:hover,
.grey:hover,
.blue:hover,
.peach:hover,
.yellow:hover,
.green:hover ,
.purple:hover,
.orange:hover{
  transform: scale(0.95);
}

@media (max-width: 850px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 350px) {
  .heading {
    font-size: 1.25rem;
  }
}
