body {
    background-image: url("../Images/FactorialCalculator_Background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.box {
    background-color: rgba(245, 245, 245, 0.5);
    border: 5px solid whitesmoke;
    width: fit-content;
    margin: 100px auto;
    color: #000;
}

/* Heading */
.display-2 {
    font-family: 'Architects Daughter', cursive;
    margin: 30px auto 0px;
    padding: 40px 20px 0px;
}
hr {
    margin-bottom: 50px !important;
    width: 75%;
    border-top: 2px solid black !important;
}

/* Main Content */
.form-box {
    margin: 20px;
    padding: 20px 20px 0px;
}

/* Input Form */
.form-group {
    width: 18rem;
    margin: 10px;
}
.form-control {
    border-color: black;
    color: #000;
}
.form-control:focus{
    box-shadow: 0 0 0 .2rem rgba(0, 0, 0, 0.5);
    border-color: black;
}

/* Submit Button */
.btn {
    width: 50% !important;
}
.btn-outline-primary {
    color: #000;
    border-color: black !important;
}
.btn-outline-primary:hover {
    background-color: black !important;
    color: whitesmoke !important; 
}
.btn-outline-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 0, 0, 0.5) !important;
}


/* Answer  */
#answer {
    font-size: 50px;
    font-family: 'RocknRoll One', sans-serif;
}


/* Footer */
.footer {
    font-family: 'Architects Daughter', cursive;
    width: 100%;
    color: white;
    font-size: 30px;
    position: fixed;
    bottom: 20px;
}
a {
    color: black;
    font-weight: 900;
    text-decoration: none;
}
i {
    color: red;
}

/* Media Queries */

/* Small (sm) devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .box {
        width: auto;
    }
    .display-2 {
        font-size: 50px !important;
        padding: 40px 0px 0px;
    }
    #answer {
        font-size: 30px;
    }
    .footer {
        font-size: 20px;
    }
}

/* Medium (md) devices (tablets, 768px and up) */
@media (min-width: 576px) and (max-width: 768px) {
    .display-2 {
        font-size: 75px !important;
    }
    #answer {
        font-size: 40px;
    }
    .footer {
        font-size: 20px;
    }
}