@import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');
 * {
	 box-sizing: border-box;
}
 *::before, *::after {
	 box-sizing: border-box;
}
 body {
	 margin: 0;
	 padding: 0;
	 font-family: 'Hind', sans-serif;
	 background: brown;
	 color: #4d5974;
	 display: flex;
	 min-height: 100vh;
	}

 .container {
	 margin: 0 auto;
	 padding: 4rem;
	 width: 48rem;
}
 
 .card{
	background-color:rgb(194, 187, 187);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
h2{
	color: #362222;
	text-align:center;
	letter-spacing: 2px;
	background-color:rgb(194, 187, 187);
}
.border-bottom{
	border-bottom: 1px solid purple;
	padding-bottom: 5px;
}

.img{
    width:200px;
	position:relative;
    top: -10px;
    filter: drop-shadow(0 25px 0px #E1D6F6);
}

/*expand and collapse cards*/


 .accordion .accordion-item {
	border-bottom: 1px solid #ebc7c7;
	color: #222831;
	text-align: center;
	
}

 .accordion .accordion-item button[aria-expanded='true'] {
	border-bottom: 1px dotted  #F0EFEF;
}
 .accordion button {
	 position: relative;
	 display: block;
	 align-items: center;
	 width: 100%;
	 padding: 1em 0;
	 color: #31112C;
	 font-size: 1.15rem;
	 font-weight: 400;
	 border: none;
	 background: none;
	 outline: none;
}
 .accordion button:hover, .accordion button:focus {
	 cursor: pointer;
	 color: #EE4540;
	 
}
 .accordion button:hover::after, .accordion button:focus::after {
	 cursor: pointer;
	 color: #A72693;
	 border: 1px solid #A72693;
}
 .accordion button .accordion-title {
	 padding: 1em 1.5em 1em 0;
	 
}
 .accordion button .icon {
	 display: inline-block;
	 position: absolute;
	 right: 0;
	 width: 22px;
	 height: 22px;
	 border: 1px solid;
	 border-radius: 22px;
}
 .accordion button .icon::before {
	 display: block;
	 position: absolute;
	 content: '';
	 top: 9px;
	 left: 5px;
	 width: 10px;
	 height: 2px;
	 background: currentColor;
}
 .accordion button .icon::after {
	 display: block;
	 position: absolute;
	 content: '';
	 top: 5px;
	 left: 9px;
	 width: 2px;
	 height: 10px;
	 background: currentColor;
}
 .accordion button[aria-expanded='true'] {
	 color: #EE4540;
}
 .accordion button[aria-expanded='true'] .icon::after {
	 width: 0;
}
 .accordion button[aria-expanded='true'] + .accordion-content {
	 opacity: 1;
	 max-height: 9em;
	 transition: all 200ms linear;
	 will-change: opacity, max-height;
}
 .accordion .accordion-content {
	 opacity: 0;
	 max-height: 0;
	 overflow: hidden;
	 transition: opacity 200ms linear, max-height 200ms linear;
	 will-change: opacity, max-height;
}
 .accordion .accordion-content p {
	 font-size: 1rem;
	 font-weight: bold;
	 margin: 2em 0;
}
/*ends*/