*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    background-color: black;
}
section
{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
}
section ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;

}
section ul li
{
    list-style: none;
    background: #fcecdd;
    padding: 12px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 10px;
    text-shadow: 1px 1px red;
}
section ul li.active
{
    background: #00adb5;
    color: #fff;
}
.product
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.product .itembox
{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 5px;
    display: block;
}

.product .itembox img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product .itembox.hide
{
    display: none;
}


