/* https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Google_Assistant_logo.svg/50px-Google_Assistant_logo.svg.png */
html,
body {
  width: 100%;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Google Sans", sans-serif;
}
.greet {
  position: absolute;
  top: -99999999px;
  left: -99999999px;
}
.splash {
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 10;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  position: absolute;
  text-align: center;
}
.google {
  animation: backsplash 1.6s forwards;
  animation-delay: 1.05s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 120px;
  cursor: pointer;
  border-radius: 12px;
}
.glogo {
  /*background: url(https://www.festisite.com/static/partylogo/img/logos/google.png);*/
  width: 80px;
  height: 80px;
  background-size: cover;
  border-radius: 50%;
}
.glogo img {
  width: 60px;
  padding: 10px;
  animation: loadlogo 1.5s forwards;
  height: 60px;
}
.gtext {
  font-size: 45px;
  color: #484848;
  opacity: 0;
  animation: loadtxt 1.4s forwards;
  animation-delay: 0.6s;
  padding-left: 10px;
  font-weight: 300;
}
@keyframes backsplash {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16), 0 5px 10px rgba(0, 0, 0, 0.23);
  }
  75% {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16), 0 5px 10px rgba(0, 0, 0, 0.23);
  }
  100% {
    box-shadow: none;
  }
}
@keyframes loadlogo {
  0% {
    margin-right: -170px;
    transform: scale(1.7);
  }
  20% {
    transform: scale(1);
  }
  100% {
    margin-left: 0;
  }
}
@keyframes loadtxt {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.gassist {
  padding: 8px 14px;
  margin-right: 7px;
  margin-top: 6px;
  margin-left: 15px;
  margin-bottom: 6px;
  align-content: right;
  float: left;
  display: inline-block;
  max-width: 50%;
  height: auto;
  justify-content: right;
  clear: both;
  width: auto;
  color: #000;
}
.gassist span {
  padding: 10px 16px;
  height: auto;
  border-radius: 20px;
  margin-left: 10px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}
.gassist img {
  height: 50px;
  margin-bottom: 10px;
  vertical-align: middle;
  width: 50px;
}
.output {
  color: #000;
  margin-left: 7px;
  margin-top: 15px;
  display: block;
  padding: 4px 7px;
  float: right;
  height: auto;
}
.output span {
  height: auto;
  background: #eee;
}
.user {
  width: 100%;
  position: fixed;
  bottom: 10px;
}
.usermain {
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);
  width: 185px;
  border-radius: 25px;
  height: 52px;
}
.key {
  width: 55px;
  margin: 0;
  position: relative;
  display: inline;
  height: 45px;
}
.keyboard {
  padding-right: 17px;
  padding-left: 20px;
  padding-bottom: 6px;
  transition: opacity 0.4s;
}
.voice {
  height: 45px;
  position: relative;
  display: inline;
  margin: 0;
  width: 55px;
}
.voicebtn {
  height: 40px;
  margin: 0;
  transition: opacity 0.2s;
  cursor: pointer;
  position: relative;
  padding-top: 7px;
  display: inline;
  width: 40px;
}
.lens {
  width: 55px;
  margin: 0;
  position: relative;
  display: inline;
  height: 45px;
}
.glens {
  width: 25px;
  padding-right: 24px;
  padding-left: 20px;
  transition: opacity 0.4s;
  padding-bottom: 7px;
  height: 25px;
}
.icon {
  position: relative;
  top: 50%;
  left: 50%;
  transition: opacity 0.2s;
  text-align: center;
  cursor: pointer;
}

.bar {
  position: absolute;
  transform: translate(-50%, -50%);
  /*align-items: center;*/
  width: 7px;
  top: -50px;
  height: 20px;
  border-radius: 10px;
  transition: 0.3s;
  animation: dope 1.5s ease-in-out 0s infinite;
}

.bar:nth-child(1) {
  animation-delay: 0s;
}

.bar:nth-child(2) {
  animation-delay: 0.15s;
}
.bar:nth-child(3) {
  animation-delay: 0.3s;
}
.bar:nth-child(4) {
  animation-delay: 0.45s;
}

@keyframes dope {
  0% {
    height: 15px;
  }
  50% {
    height: 32px;
  }
  100% {
    height: 15px;
  }
}
.hidden {
  opacity: 0;
}
