*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.205);
    background-color: #d8e3e7;
}
:root{
    --font-style: 'Fira Sans', sans-serif;
}
nav{
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    padding: 15px;
    background-color: #325288;
}
nav h3{
    text-align: center;
    font-family: var(--font-style);
    font-weight: 400;
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 0px 2px 3px rgba(0,0,0,0.9);
    letter-spacing: 2px;
    word-spacing: 12px;
}
#section{
    margin: 0 8%;
    padding: 30px 0;
    width: auto;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    grid-gap: 10px;
}
/*---------------Charecter card-----------------------*/
.charecter-card{
    border: 1px solid rgba(0, 0, 0, 0.055);
    padding: 10px;
    border-radius: 10px;
    font-family: var(--font-style);
    background-color: rgba(50,82,136,0.16);
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    width: 100%;
}
.charecter-container{
    display: flex;
    justify-content: space-between;
}
.charecter-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
}
.charecter-card img{
    width: 95px;
    height: 95px;
    border-radius: 500px;
    margin-bottom: 10px;
}
.box-two, .box-three{
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 5px;
    border-radius: 8px;
}
.charecter-card ul{
    padding: 0;
}
.charecter-card ul li{
    list-style-type: none;
}
.box-one h4{
    font-weight: 300;
}

/* =========================*/
input[type="search"]{
    width: 100%;
    border-radius: 10px;
    outline: 0;
    border: none;
    padding: 14px;
    margin-bottom: 10px;
}

@media(max-width: 952px){
    .container{
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        grid-gap: 10px;
    }
    #section{
        margin: 0 4%;
        padding: 30px 0;
        width: auto;
    }
}