* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
    background-color: rgb(255, 235, 211);
    font-family: Verdana, sans-serif;
}
.head {
    margin-top: 20px;
    margin-right: 20vw;
    margin-left: 20vw;
    text-align: center;
    font-size: 30px;
    background-color: #6f459e;
    color: white;
    border-radius: 19px;
    font-weight: bolder;
}
.header {
	font-size: 20px;
	text-align: center;
}

#array {
	height: 270px;
	width: 598px;
	margin: auto;
	position: relative;
	margin-top: 64px;
}

.block {
	width: 28px;
	background-color: #00ccff;
	position: absolute;
	bottom: 0px;
	transition: 0.2s all ease;
}

.block_id {
	position: absolute;
	color: black;
	margin-top: -20px;
	width: 100%;
	text-align: center;
}

.block_id2 {
	position: absolute;
	color: black;
	margin-top: 22px;
	width: 100%;
	text-align: center;
}

.block2 {
	width: 28px;
	background-color: darkgray;
	position: absolute;
	transition: 0.2s all ease;
}

.block_id3 {
	position: absolute;
	color: black;
	margin-top: 1px;
	width: 100%;
	text-align: center;
}

#count {
	height: 20px;
	width: 598px;
	margin: auto;
}
.btn1 {
    padding: 12px;
    font-weight: bolder;
    background-color: #6f459e;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border: white;
    margin-left: 37vw;
    margin-top: 4vw;
    margin-right: 1vw;
}
.btn2 {
    padding: 12px;
    font-weight: bolder;
    background-color: #6f459e;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border: white;
}