

* {
	background-color:
}

table {
	margin: auto;
	margin-top: 10%;
	background-color: #ffe6e6;
	padding: 20px;
	border-radius: 10%;
}

table:hover {
	box-shadow: 0 0 5px #e7accf, 0 0 50px #e7accf, 0 0 25px #e7accf, 0 0 5px #e7accf;
}

@media screen and (min-width: 500px) {
	#targetimg {
		width: 500px;
		height: 300px;
	}
}

#url {
	width: 50%;
	height: 30px;
	margin: 10px;
	padding: 2px;
}

#btn {
	background-color: #ff9999;
	padding: 10px;
	width: 40%;
	font-size: 15px;
}

.slider {
	-webkit-appearance: none;
	background-color: #e7accf;
	cursor: pointer;
}

label {
	font-size: 18px;
	font-weight: bold;
}
@media only screen and (max-width:765px) {
	.filter input{
		width:100%;
		margin:auto;
		padding:3px;
	}
	.shift{
		display: grid;
	}
	form{
		width:500px;
		margin: auto;
	}
	.btn{
		width:60% !important;
		margin:0 20%;
	}
	.ss img{
		margin-top: 10px;
	}
}
@media only screen and (max-width:590px) {
	.filter input{
		width:100%;
		margin:auto;
		padding:0.5rem;
	}
	table{
		padding:2px;
	}
	.shift{
		display: grid;
	}
	form{
		width:90%;
		margin: auto;
	}
	.btn{
		width:60% !important;
		margin:0 20%;
	}
	.ss img{
		margin-top: 10px;
		padding: 0 0.1%;
	}
}
@media only screen and (max-width:500px) {
	.filter input{
		width:100%;
		margin:auto;
		padding:0.5rem;
	}
	table{
		padding:5px;
		width: 100%;
	}
	.shift{
		display: grid;
	}
	form{
		width:100%;
		margin: auto;
	}
	.btn{
		width:70% !important;
		margin:0 17%;
	}
	.ss img{
		margin-top: 10px;
		padding: 0 0.1%;
		width:100%;
	}
	.sec2{
		margin: 5%;
	}
}
@media only screen and (max-width:368px) {
	form{
		width: 100%;
		margin: 0px;
	}
	.url{
		margin: 0 !important;
		font-size: 0.8rem;
	}
	.change{
		font-size: 0.8rem !important;
	}
}