* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
    .head {
        margin-top: 20px;
        margin-right: 20vw;
        margin-left: 20vw;
        text-align: center;
        font-size: 30px;
        background-color: #6f459e;
        color: white;
        border-radius: 19px;
        font-weight: bolder;
    }
    .header {
    font-size: 35px;
    text-align: center;
    }
    body {
        background-color: rgb(255, 235, 211);
        font-family: Verdana, sans-serif;
    }
    #array {
    height: 305px;
    width: 598px;
    margin: auto;
    position: relative;
    margin-top: 64px;
    }
    
    .block {
    width: 28px;
    background-color: #00ccff;
    position: absolute;
    bottom: 0px;
    transition: 0.2s all ease;
    }
    
    .block_id {
    position: absolute;
    color: black;
    margin-top: -20px;
    width: 100%;
    text-align: center;
    }
    .btn1 {
        padding: 12px;
        font-weight: bolder;
        background-color: #6f459e;
        border-radius: 10px;
        color: white;
        font-size: 16px;
        border: white;
        margin-left: 37vw;
        margin-top: 2vw;
        margin-right: 1vw;
    }
    .btn2 {
        padding: 12px;
        font-weight: bolder;
        background-color: #6f459e;
        border-radius: 10px;
        color: white;
        font-size: 16px;
        border: white;
    }