body {
  background: #f0cb7bd0;
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1b23d;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e68a22;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 0;
  padding: 0;
  background: #e68a22;
}
.header #page-header {
    position:sticky;
  margin-top:0px;
  padding: 5px;
  margin-top: -.5rem;
  color: white;
  text-decoration: underline;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
}

#content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#editor-container {
  text-align: center;
  padding: 2rem;
}
#editor-container #editor-label {
  margin-bottom: 0;
  min-width: 33%;
  font-size: 2rem;
  color: white;
}
#editor-container #editor {
  box-sizing: border-box;
  border: 0.6rem solid rgba(36, 111, 146, 0.973);
  background: rgba(76, 188, 240, 0.68);
  content: "guru";
}

#preview-container {
  margin-top: 0px;
}
#preview-container #preview {
  background: #e9b4b9;
  margin-bottom: 0.4rem;
  min-height: 10rem;
  min-width: 30vw;
  width: fit-content;
  box-sizing: border-box;
  padding: 0.4rem;
  border: 0.8rem solid #a8686e;
  margin: auto;
}
#preview-container #preview-label {
    cursor:auto;
  text-align: center;
  color: white;
  margin: 0;
  font-size: 2rem;
}
