body{
  height: 100vh;
  background-color: #044286;
  background-size: cover;
  background-repeat: no-repeat;
}

.box{
  background-color: #fff;
  margin: 5%;
  padding: 2%;
  border-radius: 20%;

}

h2{
  font-family: cursive,monospace;
}

.board button {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 4px solid white;
  margin: 2px;
}
