h1 {text-align: center;
    font-size: 59px;
    color: black;
    }
body{
    background-image: url("../Images/multiplicationTableCalculator_bg.png");
    background-repeat: center;
    background-attachment: fixed;
    background-size: 100%;
}
input{
    height: 44px;
    font-size: 20px;
    background-color:#FF9300;
    color:black;
    font-weight: bold;
    margin-top:20px;
    width: 150px;
    text-align: center;
    
}
#output{
    background-color:  whitesmoke;
    color: black;
    font-weight: bolder;
    width: 750px;
    font-size: 22px;
    box-shadow: 0px 0px 15px black;
    margin-right: 20%;
    margin-left: 24%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display:none;
}
#clear{
    display:none;
    color: black;
    background-color: #FF9300;
    width: 100px;
    height: 40px;
    font-size: 20px; 
}