.btn{
    /* border: 5px solid green; */
}
.container{
    /* border: 5px solid purple; */
}
.card{
    /* border: 5px solid lime; */
}
.col{
    /* border: 5px solid red; */
}
/*main heading*/
body{
    /* background: #ffee00; */
    background:rgb(139, 3, 139);
    font-family:  cursive;
}
h1{
    color:#ffee00;
    font-family: cursive;
}
/*adding title & text part */
.card{
    border: 5px solid #ffc600;
}
h3{
    font-family:cursive;
    color:purple;
}
#addTitle{
    font-size:28px ;
    font-family: cursive;
    /* font-family: 'Caveat'; */
}
#addTxt{
    font-size: 25px;
    font-family: cursive;
    /* font-family: 'Caveat'; */
}
/*navbar*/
.navbar{
    background-color: #ffee00;
}
.navtag{
    color: purple;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    flex:none;
    padding:10px;
}



/* button styling */
.btn{
    color: purple;
    font-size: 20px;
    font-family: 'Caveat', cursive;
    font-weight: bold;
    background-color: #ffee00;
    border:2px solid #ffee00;
    border-radius: 5px;
    padding:10px;
}
.btn:hover, .btn:active{
    background-color: #ffc600;
    color:purple;
    border:3px solid #ffc600
}
/* note-card styling */
#notes{
    /* border: 2px solid black; */
    font-family: 'Caveat', cursive;
    font-size: 30px;
}
.noteCard{
    border: 5px solid #ffc600;
    background-color: #ffff8b;
}
h2{
    color:purple;
    font-weight: 400;
}
