	body
		{
			text-align: center;
			height: 100%;
			background-image: url("https://i.pinimg.com/originals/ea/1d/97/ea1d9797c9bf3dda7a23b238e5e4b364.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			font-family: 'Akaya Telivigala', cursive;
			background: #c2e59c;  /* fallback for old browsers */
			background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		}
		#def
		{
			margin-top: 5%;
			animation: text 2s 1;
			font-size: 1.5em;
		}
		#result
		{
			font-size: 1.5em;
			color: red;
		}
		#div2
		{
			display: inline-block;
			padding: 30px;
			background-color: white;
			border-radius: 10px;
		}
		@keyframes text 
		{
			10%
			{
				color:black;
				margin-bottom: 20px;
			}
			30%
			{
				color: black;
				letter-spacing: 10px;
			}
			85%
			{
				letter-spacing: 3px;
				}
		}
		#fld
		{   
			padding: 20px;
			font-size: 19px;
			margin-bottom: 20px;
			border:none;
			border-bottom: 2px solid black;
			outline: none;
			width: 50%;
		}
		#btn
		{
			padding: 20px;
			font-size: 22px;
			border-radius: 50%;
			margin: 20px;
			background-color: lavender;
		}
		#btn:hover
		{
			 transform: scale(1.3);

		}
		#div2:hover {
			box-shadow: -6px 6px 10px 1px rgba(44, 44, 44, 0.75);
			-webkit-box-shadow: -6px 6px 10px 1px rgba(44, 44, 44, 0.75);
			-moz-box-shadow: -6px 6px 10px 1px rgba(44, 44, 44, 0.75);
		}
