	body
		{
			text-align: center;
			height: 100%;
			background-image: url("https://i.pinimg.com/originals/ea/1d/97/ea1d9797c9bf3dda7a23b238e5e4b364.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			font-family: 'Akaya Telivigala', cursive;
			background: #c2e59c;  /* fallback for old browsers */
			background: -webkit-linear-gradient(to right, #c275f5, #68e3f3);  /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to right, #c275f5, #68e3f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		}
		#def
		{
			margin-top: 5%;
			animation: text 2s 1;
			font-size: 1.5em;
		}
		#def p{
			margin:  2rem 4rem;
		}
		#result
		{
			font-size: 1.7em;
			color: rgb(235, 96, 32);
			font-weight: bold;
		}
		#div2
		{
			display: inline-block;
			padding: 30px;
			background-color: white;
			border-radius: 19px;
			box-shadow: 10px 10px rgb(70, 59, 59);
		}
		@keyframes text 
		{
			10%
			{
				color:black;
				margin-bottom: 20px;
			}
			30%
			{
				color: black;
				letter-spacing: 10px;
			}
			85%
			{
				letter-spacing: 3px;
				}
		}
		#fld
		{   
			padding: 20px;
			font-size: 19px;
			margin-bottom: 20px;
			border:none;
			border-bottom: 2px solid black;
			outline: none;
			width: 50%;
		}
		#btn
		{
			padding: 20px;
			font-size: 25px;
			border-radius: 29%;
			margin: 20px;
			/* background-color: rgb(222, 107, 245); */
			background: -webkit-linear-gradient(to right, #c275f5, #68e3f3);  /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to right, #c275f5, #68e3f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
			box-shadow: 6px 6px rgb(70, 59, 59);
		}
		#btn:hover
		{
			 transform: scale(1.3);

		}
		#div2:hover {
			box-shadow: -6px 6px 10px 1px rgba(44, 44, 44, 0.75);
			-webkit-box-shadow: -6px 6px 10px 1px rgba(44, 44, 44, 0.75);
			-moz-box-shadow: -6px 6px 10px 1px rgba(44, 44, 44, 0.75);
		}
		@media only screen and (max-width:420px) {
			.def p{
				font-size: 1.1rem;
				margin:  1rem 3rem;
			}
		}