* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(120deg, #130f40, #4834d4, #8344ad);
  height: 100vh;
  color: #ff0000;
  font-family: "Times New Roman", Times, serif;
}

.form-horizontal {
  width: 400px;
  height: 650px;
  background-color: #000;
  padding: 25px 35px;
  border-radius: 12px;
  box-shadow: 2px 2px 15px 10px rgba(0, 0, 0, 0.5);
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 15px 0 25px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
  box-shadow: 0 0 5px rgba(246, 8, 110, 0.8);
  border: 1px solid rgba(246, 8, 110, 0.8);
}
.progress {
  height: 3px;
}
.form-group {
  margin-bottom: 10px;
}
.list-unstyled {
  margin: 40px 0;
  font-size: 1.1em;
}

.show-pass {
  position: absolute;
  top: 5%;
  right: 8%;
}

.progress-bar-danger {
  background-color: #e90f10;
}

.progress-bar-warning {
  background-color: #ffad00;
}
.progress-bar-success {
  background-color: #02b502;
}

.login-btn {
  width: 180px;
  background: #ff0000;
  font-size: 18px;
  color: #fff;
  padding: 8px 0;
  margin: 50px auto 40px;
}
.login-btn:hover {
  background: #fff;
  color: #ff0000;
}

.fa-eye {
  color: #022255;
  cursor: pointer;
}

.ex-account p a {
  color: #fff;
  text-decoration: underline;
}
.fa-circle {
  font-size: 6px;
}
.fa-check {
  color: #02b502;
}
