
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: rebeccapurple;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.pw-container {
    background-color: rgb(46, 12, 80);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    min-width: 400px;
}

.pw-header {
    padding: 1rem;
}

.pw {
    background-color: rgb(69, 28, 109);
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    height: 70px;
    width: 100%;
    position: relative;
    padding-left: 44px;
    padding-right: 59px;
    overflow: auto;
}

.pw button {
    background-color: white;
    border: none;
    color: rgb(29, 2, 56);
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    padding: 0.25rem;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, 20%);
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 0;
}

.pw:hover button {
    opacity: 1;
    transform: translate(0, 0%);
}

.pw-body {
    padding: 0 1rem 1rem;
}

.form-control {
    color: #eee;
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;
}

.generate {
    background-color: #ecb602;
    border: none;
    color: rebeccapurple;
    cursor: pointer;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.75rem;
    margin-top: 1rem;
    width: 100%;
}

#tooltip{
    display:none;
    color:white;
    padding:20px;
    background:black;
    width:180px;
    height: 100px;
    border-radius:5px;
    position:absolute;
    left:50%;
    top:11%;
    transform:translateX(-50%);
    transform:translateY(-50%);
    font-size:1rem;  
    }

#tooltip:before{
    content:"";
    position:absolute;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid black;
    bottom:-19px;
    left:15%;
  }

#hide{
    color:red;
    position:absolute;
    top:3%;
    right:3%;
    cursor:pointer;
    text-decoration:none;
}
   
#copy{
    border-radius: 3px;

}
@media only screen and (max-width: 420px){
    .pw-container{
        width: 300px !important;
        height: 500px;
        font-size: 1.2rem;
        padding:5px;
        margin: 5px;
        text-align: center;
    }
    .generate{
        margin-top: 5px;
    }
    .pw-body {
        padding: 1.4rem 0.9rem 2.9rem 0.9rem;
        font-size: 1.2rem;
    }
    .pw-header {
        padding: 1rem;
        margin: 20px 0px 9px 0px;
    }
}
@media only screen and (max-width: 390px){
    .pw-container{
        width: 300px !important;
        height: 500px;
        font-size: 1.2rem;
        padding:5px;
        margin: 5px;
        text-align: center;
    }
    .pw-body {
        padding: 1.4rem 2.2rem 2.9rem 2.2rem;
        font-size: 1rem;
    }
    .pw-header {
        padding: 2rem;
        margin: 10px 0px 10px 0px;
    }
}
@media only screen and (max-width: 380px){
    .pw-container{
        width: 300px !important;
        height: 500px;
        font-size: 1.2rem;
        padding:5px;
        margin: 5px;
        text-align: center;
    }
    .pw-body {
        padding: 1.4rem 2.1rem 2.9rem 3.9rem;
        font-size: 1rem;
    }
    .pw-header {
        padding: 1.4rem 2.1rem 2.9rem 3.9rem;
    }
}