body {
  text-align: center;
  background-color: #121213;
}

h1 {
  font-size: 5rem;
  color: #30383b;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #f8f1f4;

}

footer {
  color: #01080a;
  font-family: sans-serif;
}

.a {
 
}

.b {

}

.c {

}

.d {

}

.e {

}

.f {

}

.g {

}

.set {
  margin: 10% auto;
}

button.click {outline: none;
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
  border-color: white;
  line-height: 2;
  font-weight: 900;
  color: rgb(0, 0, 0);
  border-radius: 15px;
  display: inline-block;
  width: 80px;
  height: 200px;
  text-align: center;
  margin: 20px;
  background-color: rgb(8, 8, 8);
  background: #585555;
  box-shadow:  3px 3px 9px #120118,
             -3px -3px 9px #000000;}

.game-over {
  background-color: rgb(116, 9, 9);
  opacity: 0.8;
}

.pressed {
  border-color: white;

}

.red {
  color: rgb(156, 55, 55);
}

.piano {
  outline: none;
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
  border-color: white;
  line-height: 2;
  font-weight: 900;
  color: rgb(0, 0, 0);
  border-radius: 15px;
  display: inline-block;
  width: 80px;
  height: 200px;
  text-align: center;
  margin: 20px;
  background-color: rgb(8, 8, 8);
  background: #ffffff;
  box-shadow:  3px 3px 9px #120118,
             -3px -3px 9px #000000;
}
