* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
    background: black;
}

.container {
    margin: 30px auto;
    color: white;
    text-align: center;
}

.heading {
    font-size: 3em;
}

.author {
    font-size: 1.2em;
}

.btn {
    background: none;
    font-size: large;
    color: #fff;
    border: 2px solid #fff;
    display: block;
    cursor: pointer;
    margin: 25px auto;
    padding: 10px 10px;
    border-radius: 8px;
    max-width: 200px;
}

.btn:hover {
    background: #fff;
    color: black;
}

.colors-container {
    display: flex;
    flex-wrap: wrap;
}

.color {
    width: 20%;
    height: 150px;
    display: flex;
    justify-content: center;
    background: cyan;
    align-items: center;
    border: 2px solid #000;
    border-radius: 2px;
    color: white;
    font-size: large;
}

@media (max-width: 550px) {
    .color {
        width: 25%;
    }
}

@media (max-width: 450px) {
    .color {
        width: 50%;
    }
}