/* --fonts---- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* ----Variable---- */
:root {
    --main-color: #eaa023;
    --dark: #0c1023;
    --dark-light: #191f3a;
    --white: #ffff;
    --shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    --cursive-font: 'Dancing Script', cursive;
    scroll-behavior: smooth;
}

/* -------GLOBAL SETTINGS---- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

::before,
::after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: var(--white);
}

img {
    vertical-align: middle;
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    font-weight: 700;
    color: var(--white);
}

h2 {
    font-weight: 600;
    color: var(--white);
}

h3,
h4,
h5,
h6 {
    font-weight: 500;
    color: var(--white);
}

p {
    font-size: 16px;
}

.container {
    max-width: 1500px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.min-vh-100 {
    min-height: 100vh;
}

.sec-padding {
    padding: 80px 0;
}

section {
    overflow: hidden;
}

.section-title {
    width: 100%;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 35px;
    text-transform: capitalize;
}

.section-title h2::before {
    content: attr(data-title);
    display: block;
    font-size: 24px;
    color: var(--main-color);
    font-family: var(--cursive-font);
    font-weight: 400;
    text-transform: capitalize;
}

/* buttons */
.btn {
    display: inline-block;
    padding: 10px 30px;
    background-color: transparent;
    border-radius: 30px;
    text-transform: capitalize;
    font-weight: 500;
    transition: all 0.3s ease;
    font-size: 16px;
    cursor: pointer;
    font-family: inherit;
    color: var(--main-color);
    line-height: 1.5;
    user-select: none;
    border: none;
}

.btn-default {
    border: 2px solid var(--main-color);
}

.btn-default:hover {
    color: var(--white);
    background-color: var(--main-color);
}

/* animation keyframe */
@keyframes zoomInOut {

    0%,
    100% {
        tramsform: sacale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

@keyframes spin01 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ----header--- */
.header {
    padding: 12px 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
}

.header::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--dark-light);
    box-shadow: var(--shadow);
    z-index: -1;
    transition: transform 0.5s ease;
    transform: translateY(-100%);
}

.header.sticky::before {
    transform: translateY(0%);
}

.header .logo {
    min-height: 34px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.header .nav-toggler {
    height: 34px;
    width: 44px;
    margin-right: 15px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .nav-toggler.active {
    position: absolute;
    right: 0;
    z-index: 1;
    transition: all 0.5s ease;
    transform: translateX(-200px);
}

.header .nav-toggler span {
    height: 2px;
    width: 30px;
    display: block;
    background-color: var(--white);
    position: relative;
}

.header .nav-toggler.active span {
    background-color: transparent;
    transition: background-color 0.5s ease;
}

.header .nav-toggler span::before,
.header .nav-toggler span::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--white);
}

.header .nav-toggler span::before {
    transform: translateY(-8px);
}

.header .nav-toggler.active span::before {
    transform: rotate(45deg);
    transition: transform 0.5s ease;
}

.header .nav-toggler span::after {
    transform: translateY(8px);
}

.header .nav-toggler.active span::after {
    transform: rotate(-45deg);
    transition: transform 0.5s ease;
}

.header .nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 280px;
    background-color: var(--dark-light);
    box-shadow: var(--shadow);
    overflow: auto;
    padding: 80px 0 40px;
    transition: transform 0.5s ease;
    transform: translateX(100%);
}

.header .nav.open {
    transform: translateX(0%);
}

.header .nav ul li a {
    display: block;
    font-size: 25px;
    color: var(--white);
    padding: 10px 30px;
    text-transform: capitalize;
    transition: color 0.3s ease;
}

.header .nav ul li a:hover {
    color: var(--main-color);
}

/* home section */
.home-section {
    position: relative;
    overflow: hidden;
}

.home-section::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.7;
    z-index: -1;
}

.home-section .home-bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url(../Images/Restaurant-image/home-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: -2;
    animation: zoomInOut 20s ease infinite;
}

.home-section .min-vh-100 {
    padding: 100px 0;
}

.home-text {
    padding: 0 15px;
    max-width: 700px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.home-text h1 {
    font-family: var(--cursive-font);
    font-size: 60px;
    line-height: 75px;
    margin: 0 0 5px;
}

.home-text p {
    margin: 0 0 30px;
}


/* *********about section********* */
.about-section {
    background-color: var(--dark);
}

.about-text,
.about-img {
    width: 50%;
    padding: 0 15px;
}

.about-text h3 {
    font-size: 30px;
    text-transform: capitalize;
    margin: 0 0 15px;
}

.about-text p {
    margin: 0 0 15px;
}

.about-text .btn {
    margin: 15px 0 0;
}

.about-img img {
    width: 100%;
    border-radius: 10px;
}

.about-img .img-box {
    position: relative;
}

.about-img .img-box::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border: 3px solid var(--main-color);
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    animation: spin01 10s linear infinite;
}

.about-img .img-box h3 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    max-width: 250px;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-family: var(--cursive-font);
    color: var(--dark);
    font-weight: bold;
    text-transform: capitalize;
}

/* menu section */

.menu-section {
    background-color: var(--dark);
    padding-bottom: 60px;
}

.menu-section .section-title {
    margin-bottom: 40px;
}

.menu-tabs {
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.menu-tab-item {
    font-size: 18px;
    font-family: inherit;
    text-transform: capitalize;
    border: none;
    background-color: transparent;
    font-weight: 500;
    color: var(--white);
    cursor: pointer;
    margin: 0 10px 10px;
    transition: color 0.3s ease;
    display: inline-block;
}

.menu-tab-item.active {
    color: var(--main-color);
}

.menu-tab-content {
    display: none;
}

.menu-tab-content.active {
    display: flex;
}

.menu-item {
    width: 50%;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.menu-item::after {
    content: '';
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
    border-bottom: 2px dashed var(--dark-light);
}

.menu-item:nth-last-of-type(2)::after,
.menu-item:nth-last-of-type(1)::after {
    border: none;
}

.menu-item-title {
    display: flex;
    align-items: center;
    max-width: calc(100% -80px);
}

.menu-item-title h3 {
    font-size: 16px;
    text-transform: capitalize;
    transition: color 0.3s ease;
}

.menu-item:hover .menu-item-title h3 {
    color: var(--main-color);
}

.menu-item-title img {
    max-width: 100px;
    margin-right: 15px;
}

.menu-item-price {
    font-size: 16px;
    font-weight: 500;
    color: var(--main-color);
    transition: color 0.3s ease;
}

.menu-item:hover .menu-item-price {
    color: var(--white);
}

/* ---testimonials----- */
.testimonials-section {
    background-color: var(--dark);
    padding-bottom: 50px;
}

.testi-item {
    width: calc((100% /3) - 30px);
    margin: 0 15px 30px;
    border: 2px solid var(--dark-light);
    padding: 30px;
    border-radius: 8px;
    box-shadow: var(--shadow);
}

.testi-author {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testi-author h3 {
    font-size: 16px;
    text-transform: capitalize;
    margin: 0 0 3px;
}

.testi-author span {
    display: block;
    font-size: 14px;
    text-transform: capitalize;
}

.testi-author img {
    max-width: 60px;
    border-radius: 50%;
    border: 3px solid var(--dark-light);
    box-shadow: var(--shadow);
    transition: border-color 0.5s ease;
}

.testi-item:hover .testi-author img {
    border-color: var(--main-color);
}

.testi-item p {
    margin: 15px 0;
}

.testi-item .ratings i {
    font-size: 16px;
    color: var(--main-color);
}

/* ******team section***** */
.team-section {
    background-color: var(--dark);
    padding-bottom: 125px;
}

.team-item {
    width: calc(100% / 3);
    padding: 0 15px;
    position: relative;
}

.team-item:hover img {
    transform: skewY(4deg);
}

.team-item img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.team-item-info {
    background-color: var(--dark-light);
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 0;
    transform: translateY(50%);
    transition: all 0.3s ease;
    pointer-events: none
}

.team-item:hover .team-item-info {
    transform: translateY(-15px);
    background-color: var(--main-color);
}

.team-item-info h3 {
    font-size: 18px;
    text-transform: capitalize;
    margin: 0 0 10px;
}

.team-item-info p {
    text-transform: capitalize;
    transition: all 0.3s ease;
}

.team-item:hover .team-item-info p {
    color: var(--white);
}

/* ---footer section */
.footer {
    padding: 80px 0;
    background-image: url(../Images/Restaurant-image/footer-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    z-index: 1;
}

.footer::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.footer-item {
    width: calc(100% / 3);
    padding: 0 15px;
    text-align: center;
}

.footer-item h3 {
    text-transform: capitalize;
    font-size: 22px;
    margin: 0 0 15px;
}

.footer-item p {
    line-height: 30px;
}

.footer-item .social-links {
    margin-top: 15px;
}

.footer-item .social-links a {
    display: inline-flex;
    height: 40px;
    width: 40px;
    color: var(--white-light);
    font-size: 22px;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
}

.footer-item .social-links a:hover {
    color: var(--main-color);
}