	body
	{
		background-color: #232323;
		margin: 0;
		font-family: "Avenir","Montserrat";
	}
	.square
	{
		width:30%;
		background: purple;
		padding-bottom: 30%;
		float:left;
		margin: 1.66%;
		border-radius:15%; 
		transition: background 0.6s;
		-webkit-transition:background 0.6s;
		-moz-transition:background 0.6s;
	}
	#container
	{
		margin: 20px auto;
		max-width: 600px;
	}
	#colorDisplay
	{
		font-size: 200%;
	}
	h1
	{
		color:white;
		text-align: center;
		background-color: steelBlue;
		margin:0;
		line-height: 1.1;
		font-weight: normal;
		text-transform: uppercase;
		padding: 20px 0;
	}
	#stripe
	{
		background-color: white;
		height: 30px;
		text-align:center;
		color:black;
	}

	.selected
	{
		color: white;
		background-color: steelBlue;	
	}

	button
	{
		border:none;
		background-color: none;
		text-transform: uppercase;
		height: 100%;
		font-weight: 700;
		color: steelBlue;
		letter-spacing: 1px;
		font-size: inherit;
		transition: all 0.3s;
		-webkit-transition:all 0.3s;
		-moz-transition:all 0.3s;
		outline: none;
	}

	#message
	{
		display: inline-block;
		width: 20%;
	}

	button:hover
	{
		color:white;
		background-color: steelBlue;
	}
	footer{
    position: fixed;
    bottom: 5px;
    opacity: .1;
    transition: opacity .2s ease-in-out;
    padding: 2px 5px;
    border: 2px solid #111111;
}
footer:hover{
    opacity: 1;
}
h3{
    color: #edeef7;
    font-family: sans-serif;
}
h4 a{
    color: #fff;
    text-decoration: none;
}
