body{
    background-image: url(../Images/simon_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
    font-weight: bolder;
}
.level{
    text-align: center;
    font-size: 4rem;
    padding-top:0;
    position:relative;
    top:-12px;
    margin-bottom: -10px;
}
.hori{
    margin:0 auto;
    display: flex;
    width:70%;
    justify-content: space-between;
}
.box{
    width:28%;
    height:260px;
    border-radius: 50%;
    position: relative;
}
.box:active{
    background-color: rgba(255,255,255,0.1);
}
.verti{
    width:28%;
    display: flex;
    flex-direction: column;
}
.b1{
    background-color:#dd4b3e;
    margin-top: 16%;
    left:10%;
}
.b2{
    background-color: #ffea37;
    width:100%;
    margin-bottom: 40px;
}
.b3{
    background-color: #3edd4b;
    width:100%;
}
.b4{
    background-color: #4b3edd;
    margin-top: 16%;
    left:-9.8%;
}
#check{
    position:absolute;
    top:10%;
    left:10%;
}
.shadow{
    box-shadow: 5px 5px 10px gray;
}
