* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    height: 100vh;
    line-height: 1.6;
    /* overflow: hidden; */
  }
  
  .container {
    width: 100%;
    height: 100%;
    
    
     /* CSS Smooth Scroll */
     /* overflow-y: scroll;  */
    /*scroll-behavior: smooth;
    scroll-snap-type: y mandatory; */
  }
  
  .lead {
    font-size: 1.5rem;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(0,0,0,0.7);
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
  }
  
  .navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
  }
  
  .navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
  }
  
  .navbar ul li a:hover {
    color: skyblue;
  }
  
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
   
    /* Scroll Snap */
    scroll-snap-align: center;
  }
  
  section h1 {
    font-size: 4rem;
  }
  
  /* Section Images */
  section#home {
    background: url('https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80') no-repeat center center/cover;;
  }
  
  section#about {
    background: url('https://images.unsplash.com/photo-1475070929565-c985b496cb9f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80') no-repeat center center/cover;;
  }
  
  section#projects {
    background: url('https://images.unsplash.com/photo-1492112007959-c35ae067c37b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=331&q=80') no-repeat center center/cover;;
  }
  
  section#hobbies {
    background: url('https://images.unsplash.com/photo-1516486392848-8b67ef89f113?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80') no-repeat center center/cover;;
  }
  