body {
    color: black;
    display: flex;
    margin-top: 5rem;
    height: 100vh;
}

.stopwatch {
    font-size: 7rem;
}

.btn {
    padding: 5px 13px;
    color: white;
    border: 2px solid rgb(27, 9, 129);
    margin: 10px;
    font-weight: 450;
    border-radius: 10px;
    background-color: rgb(27, 9, 129);
}

.btn:hover {
    color: black;
    background-color: rgb(255, 255, 255);
}

ul li {
    list-style: none;
    font-size: 30px;
}

.hidden{
    display: none;
}

/* Mobile view */
@media only screen and (max-width: 768px) {
    .heading {
        font-size: 3rem;
    }

    .stopwatch {
        font-size: 4rem;
        font-weight: 300;
    }

    .btn {
        padding: 3px 10px;
        color: white;
        border: 2px solid rgb(27, 9, 129);
        margin: 5px;
        font-weight: 300;
        border-radius: 10px;
        background-color: rgb(27, 9, 129);
    }
    ul li {
    list-style: none;
    font-size: 20px;
}
}
