html {
  box-sizing: border-box;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
}

h2 {
  margin-top: 0;
  padding-top: 0.8em;
}

nav {
  position: relative;
  perspective: 600px;
}

.cool > li > a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.9);
  padding: 10px 20px;
  display: inline-block;
  margin: 20px;
  border-radius: 5px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.cool > li {
  position: relative;
  display: flex;
  justify-content: center;
}

.dropdown {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  padding: 20px;
  top: -20px;
  border-radius: 2px;
  transition: all 0.5s;
  transform: translateY(100px);
  will-change: opacity;
  display: none;
}

.trigger-enter .dropdown {
  display: block;
}

.trigger-enter-active .dropdown {
  opacity: 1;
}

.dropdownBackground {
  width: 100px;
  height: 100px;
  position: absolute;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1),
    0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s, opacity 0.1s, transform 0.2s;
  transform-origin: 50%, 0;
  display: flex;
  justify-content: center;
  opacity: 0;
}

.dropdownBackground.open {
  opacity: 1;
}

.arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  transform: translateY(-50%) rotate(45deg);
}

.bio {
  min-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.7;
}

.bio img {
  float: left;
  margin-right: 20px;
  width: 150px;
  height: 150px;
}

.interests {
  min-width: 300px;
}

.interests li {
  padding: 10px 0;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.code {
  margin: 10px;
}

.dropdown a {
  text-decoration: none;
  color: #ffc600;
}

.interests a {
  color: orange;
}

a.button {
  background: black;
  display: block;
  padding: 10px;
  color: white;
  margin-bottom: 10px;
  text-align: center;
  margin: 20px;
}

.button[href="twitter"] {
  background: #019fe9;
}
.button[href="instagram"] {
  background: #ffc600;
}
.button[href="blog"] {
  background: red;
}

.fa {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.dropdown3 li a {
  box-shadow: 0px 1px 4px -1px black;
}

.dropdown3 li:hover {
  transform: scale(0.8);
}

.dropdown4 img {
  float: left;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-right: 20px;
}

.dropdown4 li {
  min-width: 450px;
}

.more {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.text {
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.text p:nth-child(1) {
  text-transform: uppercase;
}

.text p:nth-child(2) {
  margin-top: -2px;
}

.info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.info .fa {
  float: left;
}

.para {
  font-size: 17px;
  margin-left: 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.para p:nth-child(1) {
  font-weight: bold;
  margin-right: 15px;
}
