:root {
  --primary-color: #302AE6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
  --color-scheme: light dark; /* both supported */
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);

  /*other styles*/
}

h1 {
  color: var(--secondary-color);

  /*other styles*/
}

a {
  color: var(--primary-color);

  /*other styles*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* preloader */
#preloader{
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  place-items: center;

}
.loader-div{
 width: 15rem;
 height: 15rem;
 position: relative;
}
.heading{
font-size: 3rem;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}

/* Home */

.homeSection {
  margin-bottom: 5rem;
}

.homePara {
  font-size: 1.2rem;
}

.homeImg {
  margin-bottom: 3rem;
}

/* About Section */

.aboutUsImg {
  margin-bottom: 5rem;
}

.aboutHeader {
  border-bottom: 4px ridge black;
  width: 10rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

.aboutSection {
  padding: 3rem 3rem 0;
}

.aboutPara {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: #716e6e;
}

/* About Dark/light Toggle */

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: '';
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

[data-theme="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
}

body img {
  filter: brightness(.8) contrast(1.2);
}

/* Cards */
.cardStyle {
  transform: scale(0.92);
  width: 21rem;
  transition: 0.5s;
  border-radius: 2%;
}

.cardStyle:hover {
  transform: scale(1.05);
  box-shadow: 6px 6px 8px #dedada;
}

.card-body {
  color: black;
}

.card-img-top {
  height: 210px;
}

/* Footer */
.footer {
  color: white;
  background-color: rgba(14, 13, 13, 0.2);
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  .home,
  .about {
    text-align: center;
  }

  .aboutUsImg {
    display: none;
  }
}
.scroll {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  height: 60px;
  width: 60px;
  border-radius: 30px;
}

#myBtn:hover {
  background-color: #555;
}
#icon {
  font-size: 30px;
}

.navbar {
 
  z-index: 1;
}


.nav-link {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: white;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}


i:hover, i:active {font-size: 250%;}
       @media only screen and (min-width: 768px) {
           i{float:left;}
        }

        .sticky {
          position: fixed;
          top: 0;
          width: 100%;
        }

        .sticky + .content {
          padding-top: 60px;
        }