.row{
    display: flex;
    margin-left: 5rem;
}
.content {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  .content img {
    opacity: 0.8;
    cursor: pointer;
    width: 250px;
    height: 250px;
  }
  
  .content img:hover {
    opacity: 1;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  .view {
    position: absolute;
    margin-top: 15rem;
    margin-left: 20rem;
    display: none;
    width: 50rem;
    height: 50rem;
  }
  

  #text {
    position: absolute;
    bottom: 45rem;
    left: 3rem;
    color: rgb(19, 24, 23);
    font-size: 30px;
    font-weight: 500;
  }
  
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }
  
.container {
    background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80");
    color: #eee;
    width: 100%;
    height: 60rem;
    display: flex;
    
    perspective-origin: 50% 50%;
    animation: animation 100s linear infinite;
  }
  
  @keyframes animation {
     100%{
      background-position:0px -3000px;
    }
  }