html, body {
    background-color: rgb(14, 23, 71);
}

canvas {
    position: absolute;
    padding: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: 5px solid #fff;
}
