body {
  font-family: Roboto;
  background-color: #b4fcfc;
  background: -webkit-linear-gradient(to left, #b4fcfc, #1f1c18);

  background: linear-gradient(to left, #b4fcfc, #1f1c18);
}

#container {
  height: 525px;
  width: 360px;
  margin: 100px auto;
  background: #f7f7f7;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

h1 {
  background: #1f030c;
  color: white;
  margin: 0;
  padding: 10px 100px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

p {
  padding-left: 20px;
}

input {
  padding-left: 20px;
}

#billamt {
  font-size: 14px;
  /*color: #2980b9;*/
  color: rgb(0, 0, 0);
  background-color: #f7f7f7;
  width: 60%;
  padding: 5px 5px 8px 8px;
}

#billamt:focus {
  background: #fff;
  border: 3px solid #2980b9;
  outline: none;
}

#peopleamt {
  width: 60%;
  padding: 5px 5px 8px 8px;
  margin-left: 20px;
  color: rgb(252, 109, 168);
  background-color: #f7f7f7;
  font-size: 14px;
}

.dollarSign {
  display: inline;
}

#serviceQual {
  padding: 13px 13px 20px 20px;
  margin-left: 20px;
  font-size: 25px;
}

button {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 30px auto;
  background: #97b8ff;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-size: 17px;
  color: white;
}

button:hover {
  background: #9ff59c;
  border-bottom-color: #111;
}

button:active {
  position: relative;
  top: 1px;
}

#totalTip {
  font-size: 30px;
  margin-top: 5px;
  text-align: center;
}

#totalTip:before {
  content: "Tip amount";
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}

#totalTip sup {
  font-size: 20px;
  top: -18px;
}

#totalTip small {
  font-size: 20px;
  font-weight: bold;
  display: block;
}
