*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #07252d; 
}
h2{
    position:relative;
    font-size:6em;
    letter-spacing: 15px;
    color:#0e3742;
    text-transform: uppercase;
    width:100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #000040);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}

@keyframes animate{

    0%, 18%, 20%, 50.1%,60%, 65.1% , 80%,90.1%,92%
    { color: #0e3742;text-shadow: none;}
    
    18.1%, 20.1%, 30%,50%,60.1%, 65% , 80.1%,90%,92.1%,100%
    {
        color: #fff;
        text-shadow: 0 0 10px rgb(26, 179, 179),
        0 0 20px rgb(26, 179, 179),
        0 0 40px rgb(26, 179, 179),
        0 0 80px rgb(26, 179, 179),
        0 0 150px rgb(26, 179, 179);
    }

}