* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;

  display: flex;
  align-items: center;
  /* min-width: 100vh; */
  margin: auto;
}

body,
.qoute-input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  /* width:700px;
    max-width: 90%; */
  margin: 100px;
  box-shadow: 0 0 20px green, 0 0 20px green, 0 0 20px green, 0 0 20px green,
    0 0 20px green, 0 0 20px green, 0 0 20px green;
}
.timer {
  position: absolute;
  width: 100%;
  top: 20px;
  font-size: 50px;
  color: green;
  font-weight: bold;
  text-align: center;
  margin: auto;
}
.quote-display {
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 30;
  text-align: justify;
}
.quote-author {
  margin-bottom: 30px;
  margin-right: 20px;
  text-align: right;
}

.quote-input {
  background-color: transparent;
  color: white;
  border: 5px solid white;
  outline: none;
  width: 100%;
  height: 200px;
  padding: 20px;
  resize: none;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 20px;
  margin-bottom: 10px;
}
.quote-input:focus {
  border-color: green;
}
.btn {
  width: 100%;
  padding: 10px;
  /* background-color: red; */
  text-align: right;
}

#btnNext {
  border: 2px solid white;
  border-radius: 20px;
  font-size: 20px;
}
#btnNext:hover {
  border: 2px solid green;
  border-radius: 20px;
  color: white;
  background-color: green;
}
#btnexit {
  border: 2px solid white;
  border-radius: 20px;
  font-size: 20px;
}
#btnexit:hover {
  border: 2px solid green;
  border-radius: 20px;
  color: white;
  background-color: green;
}

.correct {
  color: green;
}
.incorrect {
  color: red;
  text-decoration: underline;
}
