*,
*::after,
*:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: normal 20px/1.5 sans-serif;
}

h1 {
    margin: 2rem auto;
    background: linear-gradient(to right,rgb(204, 46, 46),rgb(166, 94, 193));
    text-align: center;
    color: #fff;
}

form,
div {
    margin: 1.8rem;
    width: 900px;
}

.form-box {
    padding: 1rem;
    clear: both;
    width: 100%;
    position: relative;
}

.form-box label {
    font-size: 1rem;
    float: left;
    width: 100px;
    margin-right: 10px;
}

.form-box input {
    font-size: 1rem;
    width: 500px;
    padding: 0.25rem 1rem;
}

.form-box select {
    font-size: 1rem;
    width: 400px;
    padding: 0.25rem 1rem;
}

.form-box option {
    font-size: 1rem;
    width: 300px;
    padding: 0.25rem 1rem;
}

.form-box button {
    font-size: 1rem;
    border: 2px solid rgb(211, 42, 42);
    border-radius: 40rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 0.50rem 2rem;
    margin:0.4rem 10rem;
    background-color: rgb(211, 42, 42);
    transition-duration: 0.4s;
    color:white;
    outline-style: none;
    cursor: pointer;
}

.form-box button:hover{
    border: 2px solid rgb(211, 42, 42);
    border-radius: 40rem;
    background-color: white;
    color: rgb(211, 42, 42);
}

.error::after {
    background-color: hsl(10, 60%, 50%);
    color: papayawhip;
    font-size: 1rem;
    line-height: 1.8;
    width: 350px;
    padding-left: 1rem;
    position: absolute;
    right: 0;
    content: attr(data-errormsg);
}

#div1{
    padding-left: 3rem;
}

#form-user{
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  
  #div1{
      margin: auto;
      width: 50%;
      padding: 10px;
    }