*,
*::after,
*:before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font: normal 20px/1.5 sans-serif;
}

h1 {
	margin: 2rem auto;
	background: linear-gradient(to right, rgb(204, 46, 46), rgb(166, 94, 193));
	text-align: center;
	color: #fff;
	padding: 10px;
	font-weight: 100;
}

#form-user {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#form-user > * {
	margin-bottom: 10px;
}

#form-user input {
	height: 2rem;
	font-size: 1rem;
	width: 70%;
	padding: 5px;
}

button {
	font-size: 1rem;
	border: 2px solid rgb(211, 42, 42);
	border-radius: 40rem;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 0.5rem 2rem;
	margin-top: 1rem;
	background-color: rgb(211, 42, 42);
	transition-duration: 0.4s;
	color: white;
	outline-style: none;
	cursor: pointer;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

button:hover {
	border: 2px solid rgb(211, 42, 42);
	border-radius: 40rem;
	background-color: white;
	color: rgb(211, 42, 42);
}

#result,
#error {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 2rem;
}

#error {
	color: red;
}

.loader {
	position: absolute;
	padding: 5px;
	right: 10px;
	width: 15px;
	height: 15px;
	border: 2px solid transparent;
	border-top-color: #fff;
	border-bottom-color: #fff;
	border-radius: 50%;
	animation: rotate 0.6s linear infinite forwards;
}

button:hover .loader {
	border-top-color: rgb(211, 42, 42);
	border-bottom-color: rgb(211, 42, 42);
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
