body{
    margin:0;
  
  }
  
  .main {
    font-family: 'Roboto', sans-serif;
    display:grid;
    grid-template-rows:90px 1fr 50px;
    justify-items:stretch;
    justify-content:stretch;
    height:100vh;
    
  }
  
  .header {
    background-color:rgb(133, 186, 221);
    color:rgb(3, 14, 1);
    text-align:center;
    display:grid;
    grid-template-columns:1fr 10fr 1fr;
    grid-template-rows:5fr 4fr;
    align-items:center;
  }
  
  .header h1 {
    justify-self:start;
    align-self:center;
    margin:0 0 0 0;
    grid-area:1/2/2/3;
  }
  
  .header p {
    padding-top:3px;
    justify-self:start;
    align-self:start;
    grid-area:2/2/3/3;
    margin:0 0 10px 0;
    
  }
  
  .primary {
   background-color:#235f5f;
    display:grid;
   grid-template-columns:1fr 6fr 1fr 1fr;
    grid-template-rows:1fr 1fr;
    
    align-items:end;
    align-content:center;
  }
  
  .urlInput{
    grid-area:1/2/2/3;
    height:40px;
    padding:0 10px 0 10px;
    border-radius:4px 0  0 4px;
    font-size:1.1em;
    border:1px solid gray;
  }
  
  .urlButton {
    height:42px;
    font-size:1.1em;
    padding:0 10px 0 10px;
    border-radius:0px 4px 4px 0;
    border:1px solid gray;
    grid-area:1/3/2/4;
    cursor:pointer;
    max-width:80px;
    
    border:none;
  }
  
  .submit{
    background-color:#062f4d;
  }
  .results{
    grid-area:1/3/2/4;
  }
  .copy{
   
    background-color:#0d330e;
  }
  
  .clear{
    grid-area:2/1/3/5;
    justify-self:center;
    align-self:start;
    text-decoration:none;
    padding:5px;
    cursor:pointer;
    color:rgb(0, 0, 0);
  }
  
  .hidden{
    display:none;
      z-index:-1;
  }
  
  .footer{
    grid-rows:3/4;
    background-color:rgb(133, 186, 221);
    
    justify-content:center;
    
    
    display:grid;
    color:rgb(0, 0, 0)
    
  }