body{
  margin:0;
  padding:0;
  width:auto;
  height:auto;
}

section.container {  position: absolute;
  width: 100%;
  height:100%;
  background: radial-gradient(#333,#000);
  text-align: center;
  overflow:hidden;
}


.leaves{
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
}

.leaves div{
  position: absolute;
  display: block;
}
/* adding falling leaving effect to pngs*/

.leaves div:nth-child(1){
  left: 0%;
  animation: animate 15s linear infinite;
}
.leaves div:nth-child(2){
  left: 30%;
  animation: animate 25s linear infinite;
}
.leaves div:nth-child(3){
  left: 50%;
  animation: animate 20s linear infinite; /*calling funct name animate*/
  animation-delay: -7s;
}
.leaves div:nth-child(4){
  left: 70%;
  animation: animate 15s linear infinite;
}
.leaves div:nth-child(5){
  left: 85%;
  animation: animate 25s linear infinite;
}
.leaves div:nth-child(6){
  left: 10%;
  animation: animate 15s linear infinite;
  animation-delay: -7s;
}
.leaves div:nth-child(7){
  left: 35%;
  animation: animate 20s linear infinite;
  animation-delay: -5s;
}
.leaves div:nth-child(8){
  left: 20%;
  animation: animate 15s linear infinite;
  animation-delay: -1s;
}
.leaves div:nth-child(9){
  left: 0%;
  animation: animate 25s linear infinite;
  animation-delay: -3s;

}
.leaves div:nth-child(10){
  left: 20%;
  animation: animate 15s linear infinite;
  animation-delay: -1s;
}

.set2{
  transform: scale(1.8) rotateY(180deg);
  filter: blur(2px);
}

.set3{
  transform: scale(0.8) rotateX(180deg);
  filter: blur(4px);
}



@keyframes animate{
  0%
  {
    opacity: 0;
    top: -10%;
  }
  
  10%
  {
    opacity: 1;
    transform: translateX(-20px) rotate(0deg);
  }
  
  20%
  {
    transform: translateX(20px) rotate(45deg);
  }
  
  40%
  {
    transform: translateX(-20px) rotate(90deg);
  }
  
  60%
  {
    transform: translateX(20px) rotate(135deg);
  }

  80%
  {
    opacity: 1;
    transform: translateX(20px) rotate(180deg);
  }

  100%
  {
    opacity: 0;
    transform: translateX(20px) rotate(225deg);
    top: 110%;
  }
}
/*effect end here*/


h1 {
  color: whitesmoke;
  font-weight: 300;
  font-size: 2rem;
}
section.container textarea {
  position: relative;
  min-width: 300px;
  border: none;
  outline: none;
  margin: 1rem;
  border-radius: 4px;
  background: rgb(247, 246, 246);
  color: rgb(3, 3, 3);
  height: 60px;
  resize: none;
  text-align: center;
  padding: 1rem 0;
  box-shadow: 1px 1px 1px 1px transparent;
}
#stat {
  color: whitesmoke;
}
