*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.yoga{
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.time-select, .sound-picker, .player-container{
  height: 80%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.player-container{
  position: relative;
}
.player-container svg{
  position: absolute;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none
}
.time-display{
  position: absolute;
  bottom: 10%;
  color: black;
  text-shadow: white;
  font-size: 50px;
}
video{
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: -10;
}

.time-select button, 
.sound-picker button {
  color: white;
  width: 30%;
  height: 10%;
  background: none;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  transition: all 0.5s ease;
}

.time-select button:hover{
  color: black;
  background: white;
}

.sound-picker button {
  border: none;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  padding: 30px;
  color:black;
  background-color: white;
}
.sound-picker button {
  background: white;
  box-shadow: black;
  opacity: 40%

}
.sound-picker button:hover{
  background:grey;
}


.sound-picker button img{
  height: 100%;
}
.play  {
  position:absolute;
  top:43%;
  bottom:50%;
  left:45%;
}