#container{
	border: 2px solid grey;
	width: 360px;
	margin: 100px auto;
	background: #F7F7F7;
	box-shadow: : 0 0 3px rgba(0, 0, 0, 0.1);
}
 .completed{
 	color: gray;
 	text-decoration: line-through;
 }
h1{
	background: #2980b9;
	color: white;
	padding:10px 20px;
	margin: 0;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}
ul{
	list-style: none;
	margin:0;
	padding:0;

}
body{
	font-family: 'Roboto', sans-serif;
	background: #E55D87;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5FC3E4, #E55D87);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5FC3E4, #E55D87); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
span{
	background: #DC143C;
	height: 40px;
	text-align: center;
	margin-right: 20px;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2 linear;
	opacity: 0;

}
li:hover span{
	width:40px;
	opacity: 1;
}
li{
	background: white;
	height: 40px;
	line-height: 40px;
	color:666;
}
li:nth-child(2n){
	background: #f7f7f7;

}
input{
	font-size: 18px;
	background: #f7f7f7;
	width: 100%;
	padding :13px 13px 13px 20px;
	box-sizing: border-box;
	color: #2980b9;
	border: 3px solid rgba(0, 0, 0, 0);
}
input:focus{
	background: white;
	border:3px solid #2980b9;
	outline: none;
}