@import url("https://fonts.googleapis.com/css?family=Lato:400");

html {
    box-sizing: border-box;
    font-size: 15px;
    line-height: 1.7;
    color: #666;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* font-family: "Lato", sans-serif;
    font-family: Florence, cursive; */
    font-family: serif, sans-serif;
    font-style: Helvetica;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: serif;
    font-weight: 700;
}

h1:hover {
    background-color:#02ccba;
    color: White;
    transition: 1.0s;
    border-radius: 20px;
    font-family: serif;
    font-weight: 700;
}

/*
 *  Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 625px;
    margin-bottom: 10px;
    max-width: 100%;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .panel-right {
    float: right;
}

.score-panel #restart {
    margin-left: 10px;
    cursor: pointer;
}

#restart {
    background-color:darkslategray;
    color: white;
    border-radius: 15px;
    padding: 3px 0px;
}

#restart:hover {
    background-color:#02ccba;
    padding: 3px 0px;
    transition: 0.9s;
    transform: inherit;
    border-radius: 15px;
}

/** Responsive Optimizations(Also called as Responsive Web Design) **/

@media only screen and (max-width: 700px) {
	.score-panel {
        width: 90%;
    }

    .deck {
        width: 95%;
        padding: 16px;
        min-height: 100vw;
    }

    .deck .card {
        width: 20vw;
        height: 20vw;
    }
}

@media only screen and (max-width: 1024px) {
    .score-panel {
        font-size: 18px;
    }
}

.hint {
    float: left;
    cursor: pointer;
    padding: 1.5px 0px;
    background-color:darkslategray;
    color: white;
    border-radius: 15px;
}

.hint:hover {
    background-color:#02ccba;
    padding: 1.5px 0px;
    transition: 0.9s;
    transform: inherit;
    border-radius: 15px;
}

/*--- Modifiers---*/

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer--dark {
    display: flex;
    background-color: #333C44;
}
  
.footer--dark .footer__textLogo {
      color: #fff;
}
  
.footer--dark .footer__inner {
      color: #d9d9d9;
}
  
.footer--dark .footer__link {
      color: #d9d9d9;
      border-color: #d9d9d9;
}

@media (min-width: 992px) {
  .footer--dark .footer__link:hover {
      color: #fff;
      border-color: #fff;
  }
}

.footer_left {
    float: left;
    width: 80%;
    height: 80%;
    color:black;
    padding: 20px 20px;
}

.footer_right {
    float: right;
    color: black;
    padding: 20px 20px;
}

.footer a {
    font-family: Florence, cursive;
}

.footer {
    font-size: 16px;
    padding: 30px 10px 10px 10px;
}

.style-footer {
    background-color: white;
    color:black;
    transition: 0.9s;
    padding:4px 4px;
    border-radius: 15px;
}

.style-footer:hover {
    background-color:#02ccba;
    color: white;
    padding:4px 4px;
    transition: 0.9s;
    transform: inherit;
    border-radius: 15px;
}

.style-icon {
    background-color: white;
    color: #02ccba;
    padding:4px 4px;
    transition: 0.9s;
    transform: inherit;
    border-radius: 15px;
}
/* to be continued @ravireddy07 */
